<template>
  <div class="animated fadeIn">
    <b-row>
      
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Perbaikan Stok </strong>
          </div>
          <b-alert :show="retur" variant="warning">Transaksi ini Sudah di retur</b-alert>
          <div role="tablist">
            
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion2 variant="info"><strong>Data Stok Barang </strong></b-btn>
              </b-card-header>
              <b-collapse id="accordion2" :visible="visibility" accordion="my-accordion2" role="tabpanel">
                <b-card-body>
                  <b-card>
                    <div slot="header">
                      <b-button type="button" class="pull-right" size="sm" variant="primary" @click="addRow"><i class="fa fa-plus"></i> Tambah Barang</b-button>
                    </div>
                    <b-row v-for="(detail, index) in details">
                      <b-col sm="1">
                        <b>#{{index + 1}}</b> 
                      </b-col>
                      <b-col sm="3">
                        <b-form-group >
                          <label for="month1">Obat</label>
                          <b-form-select id="month1" v-model="detail.id_obat" 
                            :change="set_satuan(detail.id_obat, index)"
                            :plain="true"
                            size="lg"
                            :options="obat">
                          </b-form-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="3">
                        <b-form-group>
                          <label for="cvv">Satuan</label>
                          <b-form-select id="cvv" v-model="detail.id_satuan" placeholder="satuan"
                            :change="set_kemasan(detail.id_obat, detail.id_satuan, index)"
                            :plain="true"
                            size="lg"
                            :options="satuan[index]">
                          </b-form-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="4">
                        <b-form-group>
                          <label for="qty">Stok</label>
                          <b-form-input type="text" id="qty" placeholder="Quantity" v-model="detail.qty"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="1">
                        <b-button type="button" class="pull-right" size="sm" variant="danger" @click="delRow(index)"><i class="fa fa-minus"></i></b-button>
                      </b-col>
                      
                    </b-row>
                  </b-card>
                </b-card-body>
              </b-collapse>
            </b-card>
            <div slot="footer">
              <b-button type="submit" size="md" variant="primary" v-on:click="save"><i class="fa fa-dot-circle-o"></i> Simpan</b-button>
              <b-button type="reset" size="md" variant="danger" v-on:click="previous"><i class="fa fa-ban"></i> Batal</b-button>
            </div>
          </div>
        </b-card>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>
export default {

  name: 'forms',
  data () {
    return {
      selected: [], // Must be an array reference!
      header: {},
      visibility:true,
      retur:false,
      details: [
        {
          id_obat:'',
          id_satuan:'',
          batch:'',
          expired_date:'',
          qty:'',
          id_satuan:'',
          harga:'',
          diskon:'',
          total:'',
        }
      ],

      supplier: [],
      obat:[],
      satuan:[],
      show: true
    }
  },
  methods: {
    previous () {
      this.$router.push({path: "/purchase/index"});
    },
    addRow(){
      this.details.push({
        id_obat:'',
        id_satuan:'',
        batch:'',
        expired_date:'',
        qty:'',
        id_satuan:'',
        harga:'',
        diskon:'',
        total:'',
      })
    },
    delRow(index){
      this.details.splice(index,1)
    },
    get_detail: function(){
      const id = this.$route.params.id;
      if(id){
        this.$http.get('http://localhost/myapi2/public/api/purchase/'+id, {
          headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
        }).then(function(res){
          if(res.data.status){
            // this.input = res.data.data;  
            this.header = res.data.header;
            this.details = res.data.detail;
            if(this.header.flag_retur){
              this.retur = true;
            }
            this.visibility = true;
          }
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            this.authVerify(true);
          }
        })
      }else{
        
      }
    },
    get_supplier(){
      this.$http.get('http://localhost/myapi2/public/api/get_supplier', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.supplier = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    get_obat(){

      this.$http.get('http://localhost/myapi2/public/api/get_obat_master', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.obat = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    set_satuan(id,index){
      for (var i=0; i < this.obat.length; i++) {
        if (this.obat[i].value === id) {
            var opt = this.obat[i];
            var arr = [];
            if(opt.satuan_besar){
              arr.push({value:opt.satuan_besar, text:opt.kemasan_besar});
            }
            if(opt.satuan_mid){
              arr.push({value:opt.satuan_mid, text:opt.kemasan_mid});
            }
            if(opt.satuan_kecil){
              arr.push({value:opt.satuan_kecil, text:opt.kemasan_kecil});
            }
            this.satuan[index] = arr;

        }
      }
    },
    set_kemasan(obat, satuan, index){

      for (var i=0; i < this.obat.length; i++) {
        if(this.obat[i].value === obat){
          // console.log(this.obat[i]);
          let harga = 0
          if(this.obat[i].satuan_besar == satuan){
            this.details[index].init_satuan = 'B';
          }else if(this.obat[i].satuan_mid == satuan){
            this.details[index].init_satuan = 'S';
          }else if(this.obat[i].satuan_kecil == satuan){
            this.details[index].init_satuan = 'K';
          }
        }
      }
    },
    summary(){
      
      let total = 0;
      for (var i=0; i < this.details.length; i++) {
        total += parseInt(this.details[i].harga);
      }
      let ppn = total * 0.1;
      let gtotal = total + ppn;

      this.header.total = total;
      this.header.ppn = ppn;
      this.header.grand_total = gtotal;
    },
    save : function(){
      this.summary();
      this.$http.post('http://localhost/myapi2/public/api/purchase',
          {
            header:this.header,
            details:this.details
          },{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.header = this.details = {};
              this.$router.push({path: "index"}); 
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            this.authVerify(true);
          }
        });

    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'purchase/form');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'purchase/form');
      }
    },
  },
  mounted(){
    if(this.$route.params.id !== 'undefined'){
      this.get_detail();
    }
    this.authVerify();
    this.get_obat();
    this.get_supplier();
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
