<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1}}
            </template>
            <template slot="no_faktur" slot-scope="data">
              <router-link :to="`/purchase/form/${data.item.id_last_masuk}`">{{data.item.no_faktur}}</router-link>
            </template>
            <template slot="no_order" slot-scope="data">
              <router-link :to="`/sales/form/${data.item.id_last_keluar}`">{{data.item.no_order}}</router-link>
            </template>
            <template slot="action" slot-scope="data">
                <b-dropdown variant="link" size="xs" no-caret v-show="privilege">
                  <template slot="button-content">
                    <i class="icon-options icons"></i>
                  </template>
                  <b-dropdown-item @click="primaryModal = true; isNew = false; get_detail(data.item.id);">
                     Perbaikan Stok
                  </b-dropdown-item>
                </b-dropdown>
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

      <b-modal title="Perbaikan Stok" size="sm" centered class="modal-info" :hide-footer="true" v-model="primaryModal">
        <b-row>
          <b-col sm="12">
            <b-form-group>
              <label for="tempo">Stok</label>
              <b-form-input type="number" id="stok"  v-model="input.stok"></b-form-input>
            </b-form-group> 
            
            <footer class="modal-footer">
              <b-button type="button" variant="primary" @click="update(input.id);">Perbaiki</b-button>  
            </footer>
          </b-col>
        </b-row>
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Penjualan',
  props: {
    caption: {
      type: String,
      default: 'Stok Opname'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      privilege:false,
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {nama_obat : {label:'Nama Obat', sortable:true}},
        {stok : {label:'Sisa Stok', sortable:true}},
        {kemasan : {label:'Kemasan', sortable:true}},
        {no_faktur : {label:'Pembelian Terakhir', sortable:true}},
        {no_order : {label:'Transaksi Terakhir', sortable:true}},
        'action'
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  methods: {
    privilege_check(){
      if(localStorage.getItem('role')){
        if(localStorage.getItem('role') == 1){
          this.privilege = true;
        }else{
          this.privilege = false;
        }
      }else{
        console.log('cannot get role');
      }
    },
    get_satuan(){
      this.$http.get(helper.url_prefix+'get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      })
    },

    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'stok', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'stok/index');
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get(helper.url_prefix+'stok/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.stock;  
        }
      })
    },

    update: function(id){
      this.input.flag_perbaikan = 1;
      this.$http.put(helper.url_prefix+'stok/'+id,
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        })
        .then(function(data, status, request) {
          
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      });
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete(helper.url_prefix+'obat/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
      
    },

    _status(id, val){
      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })
      var text = (val == 0) ? 'Activated' : 'Deactivated';
      var stat = (val == 0) ? 1 : 0;
      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You want to "+text+ " this data?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, '+text+' it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put(helper.url_prefix+'obat/update/'+id,
            {status:stat},
            {
              headers: {
                'Authorization': 'Bearer ' +localStorage.getItem('token') 
              }
            }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    toForm: function(){
      this.$router.push({path: "/stok/form"});
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    helper.authVerify(false, 'stok/index');
    this.privilege_check();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
