<template>
  <div class="app">
    <!-- header -->
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile />
      <b-link class="navbar-brand" to="#">
        <img class="navbar-brand-full" src="img/brand/logo.png" width="138" height="48" alt="Aposis">
        <img class="navbar-brand-minimized" src="img/brand/sygnet.png" width="50" height="50" alt="Aposis">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg" />
      <!-- <b-navbar-nav class="d-md-down-none">
        <b-nav-item class="px-3" to="/dashboard">Dashboard</b-nav-item>
        <b-nav-item class="px-3" to="/users" exact>Users</b-nav-item>
        <b-nav-item class="px-3">Settings</b-nav-item>
        <b-nav-item-dropdown right>
          Using button-content slot
          <template slot="button-content">
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Signout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav> -->
      <b-navbar-nav class="ml-auto">
        
        <!-- <DefaultHeaderDropdownAccnt/> -->

        <b-nav-item-dropdown right>
          <!-- Using button-content slot -->
          <template slot="button-content">
            <i class="icon-user icons"></i> {{name}}
          </template>
          <b-dropdown-item href="#/profil"><i class="icon-user icons font"></i> Profile</b-dropdown-item>
          <b-dropdown-item href="#" v-on:click="logout()"><i class="icon-power icons font"></i> Signout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
      <!-- <AsideToggler class="d-none d-lg-block" /> -->
      <!--<AsideToggler class="d-lg-none" mobile />-->
    </AppHeader>

    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside/>
      </AppAside>
    </div>
    <TheFooter>
      <!--footer-->
      <!-- <div>
        <a href="https://coreui.io">CoreUI</a>
        <span class="ml-1">&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="https://coreui.io">CoreUI for Vue</a>
      </div> -->
    </TheFooter>
  </div>
</template>

<script>
import nav from '@/_nav'
import { Header as AppHeader, SidebarToggler, Sidebar as AppSidebar, SidebarFooter, SidebarForm, SidebarHeader, SidebarMinimizer, SidebarNav, Aside as AppAside, AsideToggler, Footer as TheFooter, Breadcrumb } from '@coreui/vue'
import DefaultAside from './DefaultAside'
import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'

export default {
  name: 'full',
  components: {
    AsideToggler,
    AppHeader,
    AppSidebar,
    AppAside,
    TheFooter,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdownAccnt,
    SidebarForm,
    SidebarFooter,
    SidebarToggler,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer
  },
  data () {
    return {
      name: (localStorage.getItem('name')) ? localStorage.getItem('name') : '-',
      nav: (localStorage.getItem('role') == 1) ? nav.item_admin : nav.item_asisten
    }
  },
  methods: {
    authVerify: function(){
      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "auth"});
        localStorage.setItem('lastRoute', 'blog');
      }
    },
    logout: function(){
      this.$http.post('http://localhost/myapi2/public/api/logout',
              {},
              {headers: {
                'Authorization': 'Bearer ' +localStorage.getItem('token')
              }}).then(function(res){
              
                if(res.body.status){

                  localStorage.removeItem('token');
                  localStorage.removeItem('lastRoute');
                  this.$swal({
                    type: 'success',
                    title: 'Success',
                    text: res.body.msg
                  });
                  this.$router.push({path: '/auth'});
                }
            }, function(err){
              this.$swal({
                type: 'error',
                title: err.statusText,
                text: err.body.msg
              });
            });
    },
  },
  computed: {
    auth () {
      return this.authVerify()
    },
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched.filter((route) => route.name || route.meta.label )
    }
  }
}
</script>
