<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
            <b-button type="button" variant="primary" @click="primaryModal = true; isNew = true; input = {} ">Tambah Data</b-button>
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>
            <template slot="status" slot-scope="data">
              <b-badge :variant="data.item.status ? 'success' : 'danger'">{{data.item.status ? 'Aktif' : 'Non Aktif'}}</b-badge>
            </template>
            <template slot="action" slot-scope="data">
                <b-dropdown variant="link" size="xs" no-caret>
                  <template slot="button-content">
                    <i class="icon-options icons"></i>
                  </template>
                  <b-dropdown-item @click="primaryModal = true; isNew = false; get_detail(data.item.id_supplier);">
                     Ubah Data
                  </b-dropdown-item>
                  <b-dropdown-item v-on:click="_status(data.item.id_supplier, data.item.status)">{{data.item.status ? 'Non Aktifkan' : 'Aktifkan'}}</b-dropdown-item>
                  <b-dropdown-item v-on:click="_deleted(data.item.id_supplier)">Hapus Data</b-dropdown-item>
                </b-dropdown>
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

      <b-modal v-bind:title="isNew === true ? 'Tambah Data' : 'Ubah Data'" size="lg" centered class="modal-primary" :hide-footer="true" v-model="primaryModal">
        <b-row>
          <b-col sm="12">

            <b-form-group label-for="supplier" label="Nama Supplier">
              <b-form-input type="text" class="form-control" v-model="input.nama_supplier" id="supplier" required></b-form-input>
            </b-form-group>

            <b-form-group label="Alamat Supplier">
              <textarea class="form-control" v-model="input.alamat_supplier"></textarea>
            </b-form-group>

            <b-form-group label-for="tempo" label="Tempo">
              <b-form-input type="number" class="form-control" v-model="input.tempo" id="tempo" :min="0" required></b-form-input>
            </b-form-group>            

            <b-form-group
              label="Status Supplier"
              label-for="basicSelect"
              :label-cols="3"
              :horizontal="false">
              <b-form-select id="basicSelect"
                :plain="false"
                size="lg"
                :options="[{value:1, text:'Aktif'}, {value:0, text:'Tidak Aktif'}]"
                v-model="input.status"
                value="0">
              </b-form-select>
            </b-form-group>
            <footer class="modal-footer">
              <b-button v-if="isNew" type="button" variant="primary" @click="save();">Simpan</b-button>  
              <b-button v-if="!isNew" type="button" variant="primary" @click="update(input.id_supplier);">Ubah</b-button>  
            </footer>
          </b-col>
        </b-row>
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  name: 'Supplier',
  props: {
    caption: {
      type: String,
      default: 'Master Supplier'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      fields: [
        'no',
        {nama_supplier : {label:'Supplier', sortable:true}},
        {alamat_supplier : {label:'Alamat Supplier', sortable:true}},
        'tempo',
        'status',
        'action'
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  methods: {
    
    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'suppliers', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'supplier');
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get(helper.url_prefix+'supplier/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'supplier');
        }
      })
    },

    save : function(){
      this.$http.post(helper.url_prefix+'supplier',
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        })
        .then(function(data, status, request) {
          
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.primaryModal = false;
            this.get_data(this.currentPage);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'supplier');
        }
      });
    },

    update: function(id){
      this.$http.put(helper.url_prefix+'supplier/'+id,
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }})
        .then(function(data, status, request) {
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'supplier');
        }
      });
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete(helper.url_prefix+'supplier/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
        } else if (
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    _status(id, val){
      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })
      var text = (val == 0) ? 'Activated' : 'Deactivated';
      var stat = (val == 0) ? 1 : 0;
      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You want to "+text+ " this data?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, '+text+' it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put(helper.url_prefix+'update/'+id,
            {status:stat},
            {
              headers: {
                'Authorization': 'Bearer ' +localStorage.getItem('token') 
              }
            }).then(function(res){
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully '+text,
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
        } else if (
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      console.log(this.q);
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    helper.authVerify(false,'supplier');
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
