<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
            <b-button type="button" variant="primary" @click="toForm()">Tambah Data</b-button>
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage" @row-dblclicked="toDetail" >
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1}}
            </template>
            <template slot="status" slot-scope="data">
              <b-badge :variant="data.item.status ? 'success' : 'danger'">{{data.item.status ? 'Aktif' : 'Non Aktif'}}</b-badge>
            </template>
            <template slot="purchasing_date" slot-scope="data">
              {{ (data.item.purchasing_date)?helper_bind.formatMonth(data.item.purchasing_date):'-' }}
            </template>
            <template slot="tempo" slot-scope="data">
              <span v-if="(data.item.tempo)?true:false"> {{data.item.tempo}} Hari <br> sampai {{ (data.item.tempo_date)?helper_bind.formatMonth(data.item.tempo_date):'-' }}</span>

              <span v-if="(!data.item.tempo)?true:false">COD</span>
            </template>
            <template slot="total" slot-scope="data">
              {{ helper_bind.formatPrice(data.item.total) }}
            </template> 
            <template slot="grand_total" slot-scope="data">
              {{ helper_bind.formatPrice(data.item.grand_total) }}
            </template>
            <template slot="status" slot-scope="data">
              {{ (data.item.flag_retur) ? 'Di retur' : '' }}
              {{ (data.item.flag_lunas) ? 'Lunas' : '' }}
            </template>
            <template slot="action" slot-scope="data">
                <b-dropdown v-show="!data.item.flag_retur" variant="link" size="xs" no-caret>
                  <template slot="button-content">
                    <i class="icon-options icons"></i>
                  </template>
                  <b-dropdown-item v-show="((data.item.tempo > 0 && !data.item.flag_lunas))" v-on:click="_lunas(data.item.id)">Pelunasan</b-dropdown-item>
                  <b-dropdown-item v-on:click="_retur(data.item.id)">Retur</b-dropdown-item>
                  <b-dropdown-item v-on:click="_deleted(data.item.id)">Hapus Data</b-dropdown-item>
                </b-dropdown>
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>

      </transition>

    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Pembelian',
  props: {
    caption: {
      type: String,
      default: 'Transaksi Pembelian'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      helper_bind : helper, // create instance from helper
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {nama_supplier : {label:'Nama Supplier', sortable:true}},
        {no_faktur : {label:'No Faktur', sortable:true}},
        'purchasing_date',
        {tempo : {label:'Tempo Pembayaran', sortable:true}},
        'total',
        'grand_total',
        'status',
        'action'
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  methods: {  

    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'purchase', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        },
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata = false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'purchase/index');
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get(helper.url_prefix+'obat/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      })
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete(helper.url_prefix+'purchase/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
      
    },

    _lunas(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Yakin?',
        text: "Pembayaran Hutang",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Pembelian ini sudah dibayar',
        cancelButtonText: 'Batal',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put(helper.url_prefix+'purchase/update_lunas/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Berhasil',
                'Berhasil melunasi pembelian ini',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          }, function(err){
            this.$swal({
              type: 'error',
              title: err.statusText,
              text: err.body.msg
            });
            if(typeof err.body.flag !== 'undefined'){
              helper.authVerify(true, 'purchase/index');
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Batal',
            'Aksi dibatalkan',
            'error'
          )
        }
      });
      
    },

    _retur(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Yakin?',
        text: "Anda Akan meretur pembelian ini",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Retur Pembelian ini',
        cancelButtonText: 'Batal',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put(helper.url_prefix+'purchase/update/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Berhasil',
                'Berhasil retur pembelian',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          }, function(err){
            this.$swal({
              type: 'error',
              title: err.statusText,
              text: err.body.msg
            });
            if(typeof err.body.flag !== 'undefined'){
              helper.authVerify(true, 'purchase/index');
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Batal',
            'Aksi dibatalkan',
            'error'
          )
        }
      });
      
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    toForm: function(){
      this.$router.push({path: "/purchase/form"});
    },
    toDetail:function(item){
      let next = `/purchase/form/${item.id.toString()}`;
      this.$router.push({path: next});
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    helper.authVerify(false, 'purchase/index');
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
