<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Transaksi Pembelian </strong>
          </div>
          <b-alert :show="retur" variant="warning">Transaksi ini Sudah di retur</b-alert>
          <div role="tablist">
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion1 variant="info"><strong>Data Supplier </strong></b-btn>
              </b-card-header>
              <b-collapse id="accordion1" visible accordion="my-accordion1" role="tabpanel">
                <b-card-body>
                  <b-row>
                    <b-col sm="6">
                      <b-form-group >
                        <label for="supplier">Nama Supplier</label>
                        <v-select id="supplier" v-model="header.id_supplier" :options="supplier"></v-select>
                      </b-form-group>
                    </b-col>
                    <b-col sm="6">
                      <b-form-group>
                        <label for="faktur">No Faktur</label>
                        <b-form-input type="text" id="faktur" placeholder="827900870" v-model="header.no_faktur"></b-form-input>
                      </b-form-group>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col sm="6">
                      <b-form-group>
                        <label for="medrep">Medical Representative</label>
                        <b-form-input type="text" id="medrep" placeholder="Nama Medrep" v-model="header.medrep"></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col sm="6">
                      <b-form-group>
                          <label for="purchase-date">Tgl Pembelian</label>
                          <b-form-input type="date" id="purchase-date" placeholder="mm/dd/yyyy" v-model="header.purchasing_date"></b-form-input>
                        </b-form-group>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col sm="3">
                      <b-form-group>
                        <label for="tempo">Tempo</label>
                        <b-form-input type="number" id="tempo" placeholder="30" v-model="header.tempo"></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col sm="3">
                      <b-form-group>
                        <label for="total">Total</label>
                        <vue-numeric placeholder="total pembelian" v-model="header.total" disabled class="form-control" id="total"></vue-numeric>
                      </b-form-group>
                    </b-col>
                    <b-col sm="3">
                      <b-form-group>
                        <label for="ppn">PPN</label>
                        <vue-numeric placeholder="PPN pembelian" v-model="header.ppn" disabled class="form-control" id="ppn"></vue-numeric>
                      </b-form-group>
                    </b-col>
                    <b-col sm="3">
                      <b-form-group>
                        <label for="gt">Grand Total</label>
                        <vue-numeric placeholder="Grandtotal pembelian" v-model="header.grand_total" disabled class="form-control" id="gt"></vue-numeric>
                      </b-form-group>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion2 variant="info"><strong>Data Barang </strong></b-btn>
              </b-card-header>
              <b-collapse id="accordion2" :visible="visibility" accordion="my-accordion2" role="tabpanel">
                <b-card-body>
                  <b-card>
                    <div slot="header">
                      <b-button type="button" class="pull-right" size="sm" variant="primary" @click="addRow"><i class="fa fa-plus"></i> Tambah Barang</b-button>
                    </div>
                    <b-row v-for="(detail, index) in details">
                      <b-col sm="1">
                        <b>#{{index + 1}}</b> 
                      </b-col>
                      <b-col sm="5">
                        <b-form-group >
                          <label for="month1">Obat</label>
                          <v-select id="obat" v-model="detail.id_obat"  
                            :input="set_satuan(detail.id_obat.value, index)"
                            :options="obat"></v-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="2">
                        <b-form-group>
                          <label for="cvv">Satuan</label>
                          <b-form-select id="cvv" v-model="detail.id_satuan" placeholder="satuan"
                            :change="set_kemasan(detail.id_obat.value, detail.id_satuan, index)"
                            :plain="true"
                            :options="satuan[index]">
                          </b-form-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="3">
                        <b-form-group>
                          <label for="date">Expired Date</label>
                          <b-form-input type="date" id="date" placeholder="mm/dd/yyyy" v-model="detail.expired_date"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="1">
                        <b-button type="button" class="pull-right" size="sm" variant="danger" @click="delRow(index)"><i class="fa fa-minus"></i></b-button>
                      </b-col>
                      <b-col sm="1">
                      </b-col>
                      <b-col sm="2">
                        <b-form-group>
                          <label for="batch">Batch</label>
                          <b-form-input type="text" id="batch" placeholder="Batch" v-model="detail.batch"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="2">
                        <b-form-group>
                          <label for="qty">Qty</label>
                          <b-form-input type="text" id="qty" placeholder="Quantity" v-model="detail.qty"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="2">
                        <b-form-group>
                          <label for="disc">Diskon</label>
                          <b-form-input type="text" id="disc" placeholder="Diskon Harga" v-model="detail.diskon"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="4">
                        <b-form-group>
                          <label for="harga">Harga</label>
                          <vue-numeric placeholder="harga barang" v-model="detail.harga" class="form-control" id="harga"></vue-numeric>
                        </b-form-group>
                      </b-col>
                      <b-col sm="1">
                      </b-col>
                    </b-row>
                  </b-card>
                </b-card-body>
              </b-collapse>
            </b-card>
            <div slot="footer">
              <b-button type="submit" size="md" variant="primary" v-if="!visibility" v-on:click="save"><i class="fa fa-dot-circle-o"></i> Simpan</b-button>
              <b-button type="reset" size="md" variant="danger" v-on:click="previous"><i class="fa fa-ban"></i> Batal</b-button>
            </div>
          </div>
        </b-card>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>

import helper from '@/helper'

export default {

  name: 'forms',
  data () {
    return {
      selected: [],
      header: {},
      visibility:false,
      retur:false,
      details: [
        {
          id_obat:'',
          id_satuan:'',
          batch:'',
          expired_date:'',
          qty:'',
          id_satuan:'',
          harga:'',
          diskon:'',
          total:'',
        }
      ],

      supplier: [],
      obat:[],
      satuan:[],
      show: true
    }
  },
  methods: {
    previous () {
      this.$router.push({path: "/purchase/index"});
    },
    addRow(){
      this.details.push({
        id_obat:'',
        id_satuan:'',
        batch:'',
        expired_date:'',
        qty:'',
        id_satuan:'',
        harga:'',
        diskon:'',
        total:'',
      })
    },
    delRow(index){
      this.details.splice(index,1)
    },
    get_detail: function(){
      const id = this.$route.params.id;
      if(id){
        this.$http.get(helper.url_prefix+'purchase/'+id, {
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        }).then(function(res){
          if(res.data.status){
            this.header = res.data.header;
            this.header.id_supplier = {value: this.header.id_supplier, label: this.header.nama_supplier};
            this.details = res.data.detail;

            for(var i=0;i<this.details.length;i++){
              this.details[i].id_obat = {value: this.details[i].id_obat, label: this.details[i].nama_obat};
            }

            if(this.header.flag_retur){
              this.retur = true;
            }
            this.visibility = true;
          }
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            helper.authVerify(true, 'purchase/form');
          }
        })
      }else{
      }
    },
    get_supplier(){
      this.$http.get(helper.url_prefix+'get_supplier', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.supplier = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'purchase/form');
        }
      })
    },
    get_obat(){

      this.$http.get(helper.url_prefix+'get_obat_master', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.obat = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'purchase/form');
        }
      })
    },
    set_satuan(id,index){
      console.log(id);
      for (var i=0; i < this.obat.length; i++) {
        if (this.obat[i].value === id) {
            var opt = this.obat[i];
            var arr = [];
            if(opt.satuan_besar && opt.satuan_besar !== opt.satuan_kecil){
              arr.push({value:opt.satuan_besar, text:opt.kemasan_besar});
            }
            if(opt.satuan_mid){
              arr.push({value:opt.satuan_mid, text:opt.kemasan_mid});
            }
            if(opt.satuan_kecil){
              arr.push({value:opt.satuan_kecil, text:opt.kemasan_kecil});
            }
            this.satuan[index] = arr;

        }
      }
    },
    set_kemasan(obat, satuan, index){

      for (var i=0; i < this.obat.length; i++) {
        if(this.obat[i].value === obat){
          let harga = 0
          if(this.obat[i].satuan_besar == satuan){
            this.details[index].init_satuan = 'B';
          }else if(this.obat[i].satuan_mid == satuan){
            this.details[index].init_satuan = 'S';
          }else if(this.obat[i].satuan_kecil == satuan){
            this.details[index].init_satuan = 'K';
          }
        }
      }
    },
    summary(){
      let total = 0;
      for (var i=0; i < this.details.length; i++) {
        total += parseInt(this.details[i].harga);
      }
      let ppn = total * 0.1;
      let gtotal = total + ppn;

      this.header.total = total;
      this.header.ppn = ppn;
      this.header.grand_total = gtotal;
    },
    save : function(){
      this.summary();
      // for(var i=0;i<this.details.length;i++){
      //   this.details[i].id_obat = this.details[i].id_obat.value;
      // }

      // this.header.id_supplier = this.header.id_supplier.value;
      this.$http.post(helper.url_prefix+'purchase',
          {
            header:this.header,
            details:this.details
          },{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.header = this.details = {};
              this.$router.push({path: "index"}); 
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            helper.authVerify(true, 'purchase/form');
          }
        });

    },
  },
  mounted(){
    if(this.$route.params.id !== 'undefined'){
      this.get_detail();
    }
    helper.authVerify(false,'purchase/form');
    this.get_obat();
    this.get_supplier();
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
