<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
            <b-button type="button" variant="primary" @click="toForm()">Tambah Data</b-button>
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage"  @row-dblclicked="toDetail"> <!-- @row-clicked="rowClicked" -->
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1}}
            </template>
            <template slot="status" slot-scope="data">
              {{ (data.item.flag_retur)?'Di retur' : '' }}
            </template>
            <template slot="action" slot-scope="data">
              <!-- <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge> -->
                <b-dropdown variant="link" v-show="!data.item.flag_retur" size="xs" no-caret>
                  <template slot="button-content">
                    <i class="icon-options icons"></i>
                  </template>
                  <b-dropdown-item v-on:click="_retur(data.item.id)">Retur</b-dropdown-item>
                  <b-dropdown-item v-on:click="_deleted(data.item.id)">Hapus Data</b-dropdown-item>
                </b-dropdown>
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Penjualan',
  props: {
    caption: {
      type: String,
      default: 'Transaksi Penjualan'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {no_order : {label:'Nomor Order', sortable:true}},
        {tgl_order : {label:'Tgl Order', sortable:true}},
        'status',
        'action'
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  computed: {
    
  },
  methods: {
    
    get_satuan(){
      this.$http.get(helper.url_prefix+'get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      })
    },

    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'sales', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'sales/index');
        }
      })
    },

    save : function(){
      this.$http.post(helper.url_prefix+'obat',
          this.input,{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.input = {};
              this.primaryModal = false;
              this.get_data(this.currentPage);  
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        });

    },

    update: function(id){
      this.$http.put(helper.url_prefix+'obat/'+id,
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        })
        .then(function(data, status, request) {
          
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      });
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete(helper.url_prefix+'sales/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
      
    },

    _retur(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Yakin?',
        text: "Anda Akan meretur penjualan ini",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Retur Penjualan ini',
        cancelButtonText: 'Batal',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put(helper.url_prefix+'sales/update/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Berhasil',
                'Berhasil retur penjualan',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          }, function(err){
            this.$swal({
              type: 'error',
              title: err.statusText,
              text: err.body.msg
            });
            if(typeof err.body.flag !== 'undefined'){
              helper.authVerify(true, 'sales/index');
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Batal',
            'Aksi dibatalkan',
            'error'
          )
        }
      });
      
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    toForm: function(){
      this.$router.push({path: "/sales/form"});
    },
    toDetail:function(item){
      let next = `/sales/form/${item.id.toString()}`;
      this.$router.push({path: next});
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      /*console.log(this.q);*/
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    helper.authVerify(false, 'sales/index');
    this.get_satuan();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
