<template>
  <div class="animated fadeIn">
    <b-row>
      
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Transaksi Penjualan </strong>
          </div>
          <b-alert :show="retur" variant="warning">Transaksi ini Sudah di retur</b-alert>
          <div role="tablist">
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion1 variant="info"><strong>Data Penjualan </strong></b-btn>
              </b-card-header>
              <b-collapse id="accordion1" visible accordion="my-accordion1" role="tabpanel">
                <b-card-body>
                  <b-row>
                    <b-col sm="6">
                      <b-form-group>
                          <label for="purchase-date">Tgl Penjualan</label>
                          <b-form-input type="date" id="purchase-date" placeholder="mm/dd/yyyy" v-model="header.tgl_order"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col sm="6">
                      <b-form-group>
                        <label for="total">Total</label>
                        <vue-numeric placeholder="Total transaksi" v-model="header.total" disabled class="form-control" id="total"></vue-numeric>
                      </b-form-group>
                    </b-col>
                  </b-row>
                  <div>
                    <label for="resep-toggle">Menggunakan Resep?</label><br>
                    <c-switch class="mx-1" id="resep-toggle" color="dark" label variant="pill" v-model="header.is_resep" value="1" uncheckedValue="0" />
                  </div>
                  
                  <div v-show="header.is_resep == '1'" transition="bounce">
                    <b-row>
                      <b-col sm="6">
                        <b-form-group>
                          <label for="resep">Nomor Resep</label>
                          <b-form-input type="text" id="resep" placeholder="Nomor Resep" v-model="header.no_resep"></b-form-input>
                        </b-form-group>
                        <b-form-group>
                          <label for="pasien">Nama Pasien</label>
                          <b-form-input type="text" id="pasien" placeholder="Nama Pasien" v-model="header.nama_pasien"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="6">
                        <b-form-group>
                          <label for="keterangan">Keterangan</label>
                          <textarea class="form-control" id="keterangan" rows="5" v-model="header.keterangan_resep"></textarea>
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </div>
                </b-card-body>
              </b-collapse>
            </b-card>
            
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion2 variant="info"><strong>Data Barang </strong></b-btn>
              </b-card-header>
              <b-collapse id="accordion2" :visible="visibility" accordion="my-accordion2" role="tabpanel">
                <b-card-body>
                  <b-card>
                    <div slot="header">
                      <b-button type="button" class="pull-right" size="sm" variant="primary" @click="addRow"><i class="fa fa-plus"></i> Tambah Barang</b-button>
                    </div>
                    <b-row v-for="(detail, index) in details">
                      <b-col sm="12">
                        <b>#{{index + 1}}</b> 
                        <b-button type="button" class="pull-right" size="sm" variant="danger" @click="delRow(index)"><i class="fa fa-minus"></i></b-button>
                      </b-col>
                      <b-col sm="3">
                        <b-form-group >
                          <label for="month1">Obat</label>
                          <!-- <b-form-select id="month1" v-model="detail.id_obat" 
                            :change="set_satuan(detail.id_obat, index)"
                            :plain="true"
                            size="lg"
                            :options="obat">
                          </b-form-select> -->
                          <v-select id="obat" v-model="detail.id_obat"  
                            :input="set_satuan(detail.id_obat.value, index)"
                            :options="obat"></v-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="2">
                        <b-form-group>
                          <label for="cvv">Satuan</label>
                          <b-form-select id="cvv" v-model="detail.id_satuan"
                            :change="set_harga(detail.id_obat.value, detail.id_satuan, index)"
                            :plain="true"
                            size="lg"
                            :options="satuan[index]">
                          </b-form-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="2">
                        <b-form-group>
                          <label for="harga_net">Harga Satuan</label>
                          <vue-numeric placeholder="Harga Per Kemasan" v-model="detail.harga_net" disabled class="form-control" id="harga_net"></vue-numeric>
                        </b-form-group>
                      </b-col>
                      <b-col sm="1">
                        <b-form-group>
                          <label for="qty">Qty</label>
                          <b-form-input type="text" id="qty" @change="counting(index)" placeholder="0" v-model="detail.qty"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="1">
                        <b-form-group>
                          <label for="disc">Diskon</label>
                          <b-form-input type="text" id="disc" @change="counting(index)" placeholder="0" v-model="detail.discount"></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col sm="3">
                        <b-form-group>
                          <label for="harga">Harga</label>
                          <vue-numeric placeholder="harga transaksi" v-model="detail.harga" disabled class="form-control" id="harga"></vue-numeric>
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card>
                </b-card-body>
              </b-collapse>
            </b-card>
            <div slot="footer">
              <b-button type="submit" size="md" variant="primary" v-if="!visibility" v-on:click="save"><i class="fa fa-dot-circle-o"></i> Simpan</b-button>
              <b-button type="reset" size="md" variant="danger" v-on:click="previous"><i class="fa fa-ban"></i> Batal</b-button>
            </div>
          </div>
        </b-card>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>
import {VMoney} from 'v-money';
import { Switch as cSwitch } from '@coreui/vue'

import helper from '@/helper'

export default {
  
  name: 'forms',
  components: {
    cSwitch
  },
  data () {
    return {
      selected: [], // Must be an array reference!
      header: {
        is_resep:"0",
        tgl_order: this.getNow()
      },
      visibility: false,
      retur:false,
      details: [
        {
          id_obat:'',
          id_satuan:'',
          qty:'',
          id_satuan:'',
          harga:'',
          discount:'',
          total:'',
        }
      ],

      supplier: [],
      obat:[],
      satuan:[],
      show: true
    }
  },
  methods: {
    getNow(){
      let d = new Date();
      d.getTimezoneOffset();
      let month = d.getMonth() + 1;
      month = month.toString();
      let date = d.getDate().toString();
      
      return d.getFullYear()+'-'+((month.length === 1) ? '0'+month : month)+'-'+((date.length === 1) ? '0'+date : date);
    },
    previous () {
      this.$router.push({path: "/sales/index"});
    },
    addRow(){
      this.details.push({
        id_obat:'',
        id_satuan:'',
        qty:'',
        id_satuan:'',
        harga:'',
        discount:'',
        total:'',
      })
    },
    delRow(index){
      this.details.splice(index,1)
    },
    
    get_detail: function(){
      const id = this.$route.params.id;
      if(id){
        this.$http.get(helper.url_prefix+'sales/'+id, {
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        }).then(function(res){
          if(res.data.status){
            this.header = res.data.header;
            this.details = res.data.detail;

            if(this.header.no_resep){
              this.header.is_resep = '1';
            }
            if(this.header.flag_retur){
              this.retur = true;
            }

            for(var i=0;i<this.details.length;i++){
              this.details[i].id_obat = {value: this.details[i].id_obat, label: this.details[i].nama_obat};
            }
            this.visibility = true;
          }
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            helper.authVerify(true, 'sales/form');
          }
        })
      }else{
        
      }
    },
    get_obat(){
      this.$http.get(helper.url_prefix+'get_obat', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.obat = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'sales/form');
        }
      })
    },
    set_satuan(id,index){
      for (var i=0; i < this.obat.length; i++) {
        if (this.obat[i].value === id) {
            var opt = this.obat[i];
            var arr = [];
            if(opt.satuan_besar){
              arr.push({value:opt.satuan_besar, text:opt.kemasan_besar});
            }
            if(opt.satuan_mid){
              arr.push({value:opt.satuan_mid, text:opt.kemasan_mid});
            }
            if(opt.satuan_kecil){
              arr.push({value:opt.satuan_kecil, text:opt.kemasan_kecil});
            }
            this.satuan[index] = arr;

        }
      }
    },

    set_harga(obat, satuan, index){

      for (var i=0; i < this.obat.length; i++) {
        if(this.obat[i].value === obat){
          let harga = 0
          if(this.obat[i].satuan_besar == satuan){
            harga = this.obat[i].harga_jual;
            this.details[index].init_satuan = 'B';
          }else if(this.obat[i].satuan_mid == satuan){
            harga = this.obat[i].harga_jual / this.obat[i].isi_satuan_mid;
            this.details[index].init_satuan = 'S';
          }else if(this.obat[i].satuan_kecil == satuan){
            if(this.obat[i].isi_satuan_mid > 0){
              harga = (this.obat[i].harga_jual / this.obat[i].isi_satuan_mid) / this.obat[i].isi_satuan_kecil;  
            }else{
              harga = (this.obat[i].harga_jual) / this.obat[i].isi_satuan_kecil;
            }
            this.details[index].init_satuan = 'K';
          }
          
          this.details[index].harga_net = harga;
        }
      }
    },

    counting(index){
      
      var total = this.details[index].qty * this.details[index].harga_net;
      var disc = total * (this.details[index].discount / 100);
      
      this.details[index].harga = (parseFloat(total) - parseFloat(disc)); 

      this.summary();   
    },

    summary(){
      
      let total = 0;
      for (var i=0; i < this.details.length; i++) {
        total += this.details[i].harga;
      }
      this.header.total = total;
    },
    save : function(){
      this.$http.post(helper.url_prefix+'sales',
          {
            header:this.header,
            details:this.details
          },{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.header = this.details = {};
              this.$router.push({path: "index"}); 
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            helper.authVerify(true, 'sales/form');
          }
        });

    },
  },
  mounted(){
    if(this.$route.params.id !== 'undefined'){
      this.get_detail();
    }
    helper.authVerify(false, 'sales/form');
    this.get_obat();
    
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
