<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>
            <template slot="action" slot-scope="data">
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Penjualan',
  props: {
    caption: {
      type: String,
      default: 'Retur Penjualan'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      emptydata:false,
      loadingdata:true,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {no_order : {label:'Nomor Order', sortable:true}},
        {tgl_order : {label:'Tgl Order', sortable:true}},
        'action'
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  computed: {
    
  },
  methods: {
    
    get_satuan(){
      this.$http.get('http://localhost/myapi2/public/api/get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      })
    },

    get_data(curr, q=null){
      this.$http.get('http://localhost/myapi2/public/api/retur/sales', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get('http://localhost/myapi2/public/api/obat/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      })
    },

    save : function(){
      this.$http.post('http://localhost/myapi2/public/api/obat',
          this.input,{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.input = {};
              this.primaryModal = false;
              this.get_data(this.currentPage);  
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        });

    },

    update: function(id){
      this.$http.put('http://localhost/myapi2/public/api/obat/'+id,
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        })
        .then(function(data, status, request) {
          
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      });
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete('http://localhost/myapi2/public/api/obat/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            console.log(res.ok);
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
      
    },

    _status(id, val){
      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })
      var text = (val == 0) ? 'Activated' : 'Deactivated';
      var stat = (val == 0) ? 1 : 0;
      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You want to "+text+ " this data?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, '+text+' it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put('http://localhost/myapi2/public/api/obat/update/'+id,
            {status:stat},
            {
              headers: {
                'Authorization': 'Bearer ' +localStorage.getItem('token') 
              }
            }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'retur/retur-sales');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'retur/retur-sales');
      }
    },
    toForm: function(){
      this.$router.push({path: "/sales/form"});
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      /*console.log(this.q);*/
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    this.authVerify();
    this.get_satuan();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
