<template>
  <b-row>
    <b-col cols="12" xl="12">
      
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>
            <template slot="status" slot-scope="data">
              <b-badge :variant="data.item.status ? 'success' : 'danger'">{{data.item.status ? 'Aktif' : 'Non Aktif'}}</b-badge>
            </template>
            <template slot="purchasing_date" slot-scope="data">
              {{ helper_bind.formatMonth(data.item.purchasing_date) }}
            </template>
            <template slot="total" slot-scope="data">
              {{ helper_bind.formatPrice(data.item.total) }}
            </template>
            <template slot="grand_total" slot-scope="data">
              {{ helper_bind.formatPrice(data.item.grand_total) }}
            </template>
            <template slot="action" slot-scope="data">
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Pembelian',
  props: {
    caption: {
      type: String,
      default: 'Retur Pembelian'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      helper_bind : helper, // create instance from helper
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {nama_supplier : {label:'Nama Supplier', sortable:true}},
        {no_faktur : {label:'No Faktur', sortable:true}},
        'purchasing_date',
        'tempo',
        'total',
        'grand_total',
        'action'
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isNew:false,
      primaryModal: false,

    }
  },
  computed: {
    
  },
  methods: {
    // get_satuan(){
    //   this.$http.get('http://localhost/myapi2/public/api/get_satuan', {
    //     headers: {
    //       'Authorization': 'Bearer ' +localStorage.getItem('token') 
    //     }
    //   }).then(function(res){
    //     if(res.data.status){
    //       this.satuan = res.data.data;  
    //     }
    //   })
    // },

    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'retur/purchase', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'retur/retur-purchase');
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get(helper.url_prefix+'obat/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      })
    },

    save : function(){
      this.$http.post(helper.url_prefix+'obat',
          this.input,{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.input = {};
              this.primaryModal = false;
              this.get_data(this.currentPage);  
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        });

    },

    update: function(id){
      this.$http.put('http://localhost/myapi2/public/api/obat/'+id,
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        })
        .then(function(data, status, request) {
          
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      });
    },

    _retur(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Yakin?',
        text: "Anda Akan meretur pembelian ini",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Retur Pembelian ini',
        cancelButtonText: 'Batal',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put('http://localhost/myapi2/public/api/purchase/update/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Berhasil',
                'Berhasil retur pembelian',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          }, function(err){
            this.$swal({
              type: 'error',
              title: err.statusText,
              text: err.body.msg
            });
            if(typeof err.body.flag !== 'undefined'){
              this.authVerify(true);
            }
          });
          
        } else if (
          // Read more about handling dismissals
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Batal',
            'Aksi dibatalkan',
            'error'
          )
        }
      });
      
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },

    toForm: function(){
      this.$router.push({path: "/purchase/form"});
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    helper.authVerify(false, 'retur/retur-purchase');
    // this.get_satuan();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
