<template>
  <div class="animated fadeIn">
    
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-btn block href="#" v-b-toggle.accordion1 variant="danger">Notifikasi</b-btn>
      </b-card-header>
      <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-alert show variant="warning" v-show="showexpnotif">
            <h4 class="alert-heading">Dalam 2 hari akan expired</h4>
            <ul>
              <li v-for="item in expired">
                Nama Obat : {{ item.nama_obat }} 
              </li>
            </ul>
          </b-alert>
          <b-alert show variant="danger" v-show="showdebtnotif">
            <h4 class="alert-heading">Dalam 2 hari akan Jatuh Tempo</h4>
            <ul>
              <li v-for="item in debt">
                Nomor Faktur : {{ item.no_faktur }} 
              </li>
            </ul>
          </b-alert>
        </b-card-body>
      </b-collapse>
    </b-card>
    <b-card>
      <div slot="header">
        <i class="fa fa-align-justify"></i> Ringkasan</small>
      </div>
      <b-row>
        <b-col sm="6">
          <b-row>
            <b-col sm="12">
              <h5 id="traffic" class="card-title mb-0">Obat Expired Bulan {{today}}</h5>
              <br>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <b-card :header="caption">
                <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="item_expired" :fields="fields_expired" :per-page="perPage">
                  <template slot="stok" slot-scope="data">
                    {{data.item.stok}} {{data.item.nama_kemasan}}
                  </template>
                  <template slot="table-caption">
                    <span v-show="loadingdataexp"><i>Memuat data...</i></span>
                    <span v-show="emptydataexp"><i>Data Kosong...</i></span>
                  </template>
                </b-table>

              </b-card>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="6">
          <b-row>
            <b-col sm="12">
              <h5 id="traffic" class="card-title mb-0">Jatuh Tempo Hutang Bulan {{today}}</h5>
              <br>
            </b-col>
            
          </b-row>
          <b-row>
            <b-col sm="12">
              <b-card :header="caption">
                <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="item_debt" :fields="fields_debt" :per-page="perPage">
                  <template slot="grand_total" slot-scope="data">
                    {{ formatPrice(data.item.grand_total) }}
                  </template>
                  <template slot="table-caption">
                    <span v-show="loadingdata"><i>Memuat data...</i></span>
                    <span v-show="emptydata"><i>Data Kosong...</i></span>
                  </template>
                </b-table>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

  </div>
</template>

<script>


const shuffleArray = (array) => {
  for (let i = array.length - 1; i > 0; i--) {
    let j = Math.floor(Math.random() * (i + 1))
    let temp = array[i]
    array[i] = array[j]
    array[j] = temp
  }
  return array
}

export default {
  name: 'dashboard',
  props: {
    caption: {
      type: String,
      default: ''
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      today:'',
      loadingdata:true,
      emptydata:false,
      loadingdataexp:true,
      emptydataexp:false,
      item_debt:[],
      item_expired:[],
      expired:[],
      showexpnotif:false,
      showdebtnotif:false,
      debt:[],
      fields_debt: [
        {no_faktur : {label:'No Faktur', sortable:true}},
        {tempo_date : {label:'Tgl Expired', sortable:true}},
        {grand_total : {label:'Hutang', sortable:true}},
      ],
      fields_expired: [
        {nama_obat : {label:'Nama Obat', sortable:true}},
        {expired_date : {label:'Tgl Expired', sortable:true}},
        {stok : {label:'Stok', sortable:true}},
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      
    }
  },
  methods: {
    getDate(){
      let today = new Date();
      let mm = today.getMonth();
      let dd = today.getDate();
      let yy = today.getFullYear();

      this.today = this.arrMonth(mm)+' '+yy;
    },

    arrMonth(mm){
      let arr = [
        'Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'
      ];

      return arr[mm];
    },
    formatPrice(value) {

        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    variant (value) {
      let $variant
      if (value <= 25) {
        $variant = 'info'
      } else if (value > 25 && value <= 50) {
        $variant = 'success'
      } else if (value > 50 && value <= 75) {
        $variant = 'warning'
      } else if (value > 75 && value <= 100) {
        $variant = 'danger'
      }
      return $variant
    },
    flag (value) {
      return 'flag-icon flag-icon-' + value
    },
    get_data_tempo(){
      this.$http.get('http://localhost/myapi2/public/api/dashboard/hutang', {
        // params: {
        //   perPage:this.perPage,
        //   offset:curr,
        //   search:q,
        // },
        headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
      }).then(function(res){
        this.item_debt = res.data.data;
        // this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }
      }, function(err){
        this.item_debt = err.body.data;
        // this.totalRows = err.body.total;
        
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    get_data_expired(){
      this.$http.get('http://localhost/myapi2/public/api/dashboard/expired', {
        // params: {
        //   perPage:this.perPage,
        //   offset:curr,
        //   search:q,
        // },
        headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
      }).then(function(res){
        this.item_expired = res.data.data;
        // this.totalRows = res.data.total;
        this.loadingdataexp=false;
        if(res.data.total < 1){
          this.emptydataexp=true;
        }
      }, function(err){
        this.item_expired = err.body.data;
        // this.totalRows = err.body.total;
        
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    get_data_expired_soon(){
      this.$http.get('http://localhost/myapi2/public/api/dashboard/expiredsoon', {
        
        headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
      }).then(function(res){
        this.expired = res.data.data;
        if(res.data.data){
          this.showexpnotif = true;
        }
      }, function(err){
        this.expired = err.body.data;
        
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    get_data_debt_soon(){
      this.$http.get('http://localhost/myapi2/public/api/dashboard/debtsoon', {
        
        headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
      }).then(function(res){
        this.debt = res.data.data;
        res.data.data = [];
        if(res.data.data){
          this.showdebtnotif = true;
        }
      }, function(err){
        this.debt = err.body.data;
        
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'dashboard');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'dashboard');
      }
    },
  },
  mounted(){
    this.authVerify();
    this.get_data_tempo();
    this.get_data_expired();
    this.get_data_debt_soon();
    this.get_data_expired_soon();
    this.getDate();
  }
}
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }
</style>
