<template>
  <div class="animated fadeIn">
    <b-row>
      
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Generate Laporan </strong>
          </div>
          <b-row>
            <b-col sm="4">
              <b-form-group >
                <label for="month1">Jenis Laporan</label>
                <b-form-select id="month1" v-model="input.report_type" 
                  :plain="true"
                  size="lg"
                  :options="laporan">
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="8">
              <label>Periode Laporan</label>
              <b-form-group>
                <b-input-group>
                  <b-input-group-prepend>
                    <b-form-input type="month" id="report-date-from" v-model="input.date_from"></b-form-input>
                  </b-input-group-prepend>
                  &nbsp;<p>s/d</p>&nbsp;
                  <b-input-group-append>
                    <b-form-input type="month" id="report-date-to" v-model="input.date_to"></b-form-input>    
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            
          </b-row>
          <div slot="footer">
            <b-button type="submit" size="md" variant="primary" v-if="!visibility" v-on:click="save"><i class="fa fa-dot-circle-o"></i> Lihat</b-button>
          </div>
        </b-card>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>
import {VMoney} from 'v-money';
import { Switch as cSwitch } from '@coreui/vue'

import helper from '@/helper'

export default {
  
  name: 'forms',
  components: {
    cSwitch
  },
  data () {
    return {
      selected: [], // Must be an array reference!
      input: {},
      visibility: false,
      retur:false,
      details: [
        {
          id_obat:'',
          id_satuan:'',
          qty:'',
          id_satuan:'',
          harga:'',
          discount:'',
          total:'',
        }
      ],
      laporan:[
        {value:'hutang', text:'Laporan Hutang'},
        {value:'profit', text:'Laporan Laba/Rugi'},
      ],
      supplier: [],
      obat:[],
      satuan:[],
      show: true,
      moneyConfig: {
        // The character used to show the decimal place.
        decimal: '.',
        // The character used to separate numbers in groups of three.
        thousands: ',',
        // The currency name or symbol followed by a space.
        prefix: 'USD $ ',
        // The suffix (If a suffix is used by the target currency.)
        suffix: '',
        // Level of decimal precision. REQUIRED
        precision: 2,
        // If mask is false, outputs the number to the model. Otherwise outputs the masked string.
        masked: false
      }
    }
  },
  methods: {
    
    save : function(){
      
      let param = btoa(JSON.stringify(this.input));
      this.$router.push({path: "/report/report-"+this.input.report_type+'/'+param});
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }
    },
  },
  mounted(){
    this.authVerify();
    
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
