<template>
  <div class="animated fadeIn">
    <b-row>
      
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Generate Laporan </strong>
          </div>
          <b-row>
            <b-col sm="4">
              <b-form-group >
                <label for="month1">Jenis Laporan</label>
                <b-form-select id="month1" v-model="input.report_type" 
                  :plain="true"
                  size="lg"
                  :options="laporan">
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="8">
              <label>Tanggal Laporan</label>
              <b-form-group>
                <b-input-group>
                  <b-input-group-prepend>
                    <b-form-input type="date" id="report-date-from" placeholder="mm/dd/yyyy" v-model="input.date_from"></b-form-input>
                  </b-input-group-prepend>
                  &nbsp;<p>s/d</p>&nbsp;
                  <b-input-group-append>
                    <b-form-input type="date" id="report-date-to" placeholder="mm/dd/yyyy" v-model="input.date_to"></b-form-input>    
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            
          </b-row>
          <div slot="footer">
            <b-button type="submit" size="md" variant="primary" v-if="!visibility" v-on:click="save"><i class="fa fa-dot-circle-o"></i> Lihat</b-button>
            <b-button type="reset" size="md" variant="danger" v-on:click="previous"><i class="fa fa-ban"></i> Batal</b-button>
          </div>
        </b-card>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>
import {VMoney} from 'v-money';
import { Switch as cSwitch } from '@coreui/vue'

import helper from '@/helper'

export default {
  
  name: 'forms',
  components: {
    cSwitch
  },
  data () {
    return {
      selected: [], // Must be an array reference!
      input: {},
      visibility: false,
      retur:false,
      details: [
        {
          id_obat:'',
          id_satuan:'',
          qty:'',
          id_satuan:'',
          harga:'',
          discount:'',
          total:'',
        }
      ],
      laporan:[
        {value:'purchase', text:'Laporan Pembelian'},
        {value:'sales', text:'Laporan Penjualan'},
        {value:'stock', text:'Laporan Stok'},
      ],
      supplier: [],
      obat:[],
      satuan:[],
      show: true,
      moneyConfig: {
        // The character used to show the decimal place.
        decimal: '.',
        // The character used to separate numbers in groups of three.
        thousands: ',',
        // The currency name or symbol followed by a space.
        prefix: 'USD $ ',
        // The suffix (If a suffix is used by the target currency.)
        suffix: '',
        // Level of decimal precision. REQUIRED
        precision: 2,
        // If mask is false, outputs the number to the model. Otherwise outputs the masked string.
        masked: false
      }
    }
  },
  methods: {
    previous () {
      this.$router.push({path: "/sales/index"});
    },
    addRow(){
      this.details.push({
        id_obat:'',
        id_satuan:'',
        qty:'',
        id_satuan:'',
        harga:'',
        discount:'',
        total:'',
      })
    },
    delRow(index){
      this.details.splice(index,1)
    },
    
    get_detail: function(){
      const id = this.$route.params.id;
      if(id){
        this.$http.get('http://localhost/myapi2/public/api/sales/'+id, {
          headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
        }).then(function(res){
          if(res.data.status){
            this.header = res.data.header;
            this.details = res.data.detail;

            if(this.header.no_resep){
              this.header.is_resep = '1';
            }
            if(this.header.flag_retur){
              this.retur = true;
            }
            this.visibility = true;
          }
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            this.authVerify(true);
          }
        })
      }else{
        
      }
    },
    get_obat(){
      this.$http.get('http://localhost/myapi2/public/api/get_obat', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.obat = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },
    set_satuan(id,index){
      for (var i=0; i < this.obat.length; i++) {
        if (this.obat[i].value === id) {
            var opt = this.obat[i];
            var arr = [];
            if(opt.satuan_besar){
              arr.push({value:opt.satuan_besar, text:opt.kemasan_besar});
            }
            if(opt.satuan_mid){
              arr.push({value:opt.satuan_mid, text:opt.kemasan_mid});
            }
            if(opt.satuan_kecil){
              arr.push({value:opt.satuan_kecil, text:opt.kemasan_kecil});
            }
            this.satuan[index] = arr;

        }
      }
    },

    set_harga(obat, satuan, index){

      for (var i=0; i < this.obat.length; i++) {
        if(this.obat[i].value === obat){
          // console.log(this.obat[i]);
          let harga = 0
          if(this.obat[i].satuan_besar == satuan){
            harga = this.obat[i].harga_jual;
            this.details[index].init_satuan = 'B';
          }else if(this.obat[i].satuan_mid == satuan){
            harga = this.obat[i].harga_jual / this.obat[i].isi_satuan_mid;
            this.details[index].init_satuan = 'S';
          }else if(this.obat[i].satuan_kecil == satuan){
            if(this.obat[i].isi_satuan_mid > 0){
              harga = (this.obat[i].harga_jual / this.obat[i].isi_satuan_mid) / this.obat[i].isi_satuan_kecil;  
            }else{
              harga = (this.obat[i].harga_jual) / this.obat[i].isi_satuan_kecil;
            }
            this.details[index].init_satuan = 'K';
          }
          
          this.details[index].harga_net = harga;
        }
      }
    },

    counting(index){
      
      var total = this.details[index].qty * this.details[index].harga_net;
      var disc = total * (this.details[index].discount / 100);
      
      this.details[index].harga = (parseFloat(total) - parseFloat(disc)); 

      this.summary();   
    },

    summary(){
      
      let total = 0;
      for (var i=0; i < this.details.length; i++) {
        total += this.details[i].harga;
      }
      this.header.total = total;
    },
    save : function(){
      
      let param = btoa(JSON.stringify(this.input));
      this.$router.push({path: "/report/report-"+this.input.report_type+'/'+param});
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }
    },
  },
  mounted(){
    if(this.$route.params.id !== 'undefined'){
      this.get_detail();
    }
    this.authVerify();
    this.get_obat();
    
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
