<template>
  <div class="animated fadeIn">
    <b-row>
      
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Laporan Neraca </strong>
          </div>
          <b-row>
            <!-- <b-col sm="4">
              <b-form-group >
                <label for="month1">Jenis Laporan</label>
                <b-form-select id="month1" v-model="input.report_type" 
                  :plain="true"
                  size="lg"
                  :options="laporan">
                </b-form-select>
              </b-form-group>
            </b-col> -->
            <b-col sm="4">
              <label>Laporan Neraca Bulan</label>
              <b-form-group>
                <b-input-group>
                  <b-form-input type="month" id="report-date" v-model="input.date"></b-form-input>
                </b-input-group>
              </b-form-group>

              <b-button type="submit" size="md" variant="primary" v-if="!visibility" v-on:click="fetchData"><i class="fa fa-dot-circle-o"></i> Lihat</b-button>
              <br>
            </b-col>
            <b-col sm="8"></b-col>
            <b-col sm="12">
              <!-- <pre>{{data}}</pre> -->
              <b-card v-show="showed">
              <!-- <div border="1"> -->
                <h1 class="text-center">Laporan Neraca {{ (input.date) ? helper_bind.formatMonth(input.date, false) : '' }}</h1>
                <b-row border="1">
                  <b-col sm="6">
                    <label>Kas</label>
                    <b-form-group>
                      <b-input-group>
                        <vue-numeric placeholder="Kas" v-model="data.kas" @input="total" class="form-control" id="kas"></vue-numeric>
                      </b-input-group>
                    </b-form-group>

                    <label>Penjualan</label>
                    <b-form-group>
                      <b-input-group>
                        <vue-numeric placeholder="Penjualan" v-model="data.penjualan" class="form-control" id="penjualan" readonly="true"></vue-numeric>
                      </b-input-group>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <label>Hutang</label>
                    <b-form-group>
                      <b-input-group>
                        <vue-numeric placeholder="Hutang" v-model="data.hutang" class="form-control" id="hutang" readonly="true"></vue-numeric>
                      </b-input-group>
                    </b-form-group>

                    <label>Konsinyasi</label>
                    <b-form-group>
                      <b-input-group>
                        <vue-numeric placeholder="Konsinyasi" v-model="data.konsinyasi" @input="total" class="form-control" id="konsinyasi"></vue-numeric>
                      </b-input-group>
                    </b-form-group>

                    <label>Pembelian</label>
                    <b-form-group>
                      <b-input-group>
                        <vue-numeric placeholder="Pembelian" v-model="data.pembelian" class="form-control" id="pembelian" readonly="true"></vue-numeric>
                      </b-input-group>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col sm="8">
                    <p class="pull-right">Aktiva</p>
                    
                  </b-col>
                  <b-col sm="4">
                    <p>{{helper_bind.formatPrice(data.aktiva)}}</p>
                    
                  </b-col>
                  <b-col sm="8">
                    <p class="pull-right">Pasiva</p>
                    
                  </b-col>
                  <b-col sm="4">
                    <p>{{helper_bind.formatPrice(data.pasiva)}} <span class="pull-right">-</span></p>
                    
                    <hr>
                  </b-col>
                  <b-col sm="8">
                    <p class="pull-right">Selisih</p>
                    
                  </b-col>
                  <b-col sm="4">
                    <p>{{helper_bind.formatPrice(data.selisih)}}</p>
                    
                  </b-col>
                </b-row>
                <!-- <b-btn variant="primary" href="#">Save as PDF</b-btn> -->
                <download-excel
                    class   = "btn btn-info"
                    :title  = "Laporan_Neraca"
                    :data   = "json_neraca"
                    :fields = "json_fields"
                    worksheet = "My Worksheet"
                    name    = "Laporan Neraca.xls">
                 
                    Save As
                 
                </download-excel>
              <!-- </div> -->
              </b-card>
            </b-col>
          </b-row>
          <div slot="footer">
            
          </div>
        </b-card>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>
import {VMoney} from 'v-money';
import { Switch as cSwitch } from '@coreui/vue'

import helper from '@/helper'

export default {
  
  name: 'forms',
  components: {
    cSwitch
  },
  data () {
    return {
      showed:false,
      helper_bind : helper, // create instance from helper
      selected: [], // Must be an array reference!
      data :{'kas' : '0', 'konsinyasi': '0', 'aktiva':'0', 'pasiva':'0', 'selisih': '0'},
      input: {},
      visibility: false,
      retur:false,
      details: [
        {
          id_obat:'',
          id_satuan:'',
          qty:'',
          id_satuan:'',
          harga:'',
          discount:'',
          total:'',
        }
      ],
      json_fields: {
          'Aktiva': 'aktiva',
          'Nilai Aktiva': 'nilai_aktiva',
          'Pasiva': 'pasiva',
          'Nilai Pasiva': 'nilai_pasiva'
      },
      json_data: [
          {
              'name': 'Tony Peña',
              'city': 'New York',
              'country': 'United States',
              'birthdate': '1978-03-15',
              'phone': {
                  'mobile': '1-541-754-3010',
                  'landline': '(541) 754-3010'
              }
          },
          {
              'name': 'Thessaloniki',
              'city': 'Athens',
              'country': 'Greece',
              'birthdate': '1987-11-23',
              'phone': {
                  'mobile': '+1 855 275 5071',
                  'landline': '(2741) 2621-244'
              }
          }
      ],

      json_neraca: [],
      json_meta: [
          [
              {
                  'key': 'charset',
                  'value': 'utf-8'
              }
          ]
      ],
      supplier: [],
      obat:[],
      satuan:[],
      show: true
    }
  },
  methods: {
    
    save : function(){
      
      let param = btoa(JSON.stringify(this.input));
      this.$router.push({path: "/report/report-"+this.input.report_type+'/'+param});
    },

    total: function(){

      let kas = (typeof(this.data.kas) === "undefined" || typeof(this.data.kas) === 'null') ? 0 : this.data.kas;
      let konsinyasi = (typeof(this.data.konsinyasi) === "undefined" || typeof(this.data.konsinyasi) === 'null') ? 0 : this.data.konsinyasi;

      this.data.aktiva = (parseFloat(kas) + parseFloat(this.data.penjualan));
      this.data.pasiva = (parseFloat(this.data.hutang) + parseFloat(this.data.pembelian) + parseFloat(konsinyasi));
      this.data.selisih = ((parseFloat(kas) + parseFloat(this.data.penjualan)) - (parseFloat(this.data.hutang) + parseFloat(this.data.pembelian) + parseFloat(konsinyasi)));

      this.json_neraca = [
          {
            'aktiva':'Kas Harian',
            'nilai_aktiva' : this.data.kas,
            'pasiva':'Hutang',
            'nilai_pasiva' : this.data.hutang
          },
          {
            'aktiva':'Penjualan',
            'nilai_aktiva' :this.data.penjualan,
            'pasiva':'Konsinyasi',
            'nilai_pasiva' :this.data.konsinyasi
          },
          {
            'aktiva':'',
            'nilai_aktiva' :'',
            'pasiva':'Pembelian',
            'nilai_pasiva' :this.data.pembelian
          },
          {
            'aktiva':'',
            'nilai_aktiva' :'',
            'pasiva':'',
            'nilai_pasiva' :''
          },
          {
            'aktiva':'',
            'nilai_aktiva':'',
            'pasiva':'Total Aktiva',
            'nilai_pasiva':this.data.aktiva
          },
          {
            'aktiva':'',
            'nilai_aktiva':'',
            'pasiva':'Total Pasiva',
            'nilai_pasiva':this.data.pasiva
          },
          {
            'aktiva':'',
            'nilai_aktiva':'',
            'pasiva':'Selisih',
            'nilai_pasiva':this.data.selisih
          },

      ];
      
    },

    fetchData(){
      
      
      this.$http.get('http://localhost/myapi2/public/api/report/neraca', {
        params: this.input,
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
          // console.log(res.data.data);
          // this.exportdata = res.data.data;  
          this.data = res.data.data;
          this.data.selisih = 0;
          this.total();
          this.showed = true;
      })
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }
    },
  },
  mounted(){
    this.authVerify();
    
  },
  watch: {
    /*'data.kas':function(){
      this.data.aktiva = (parseFloat(this.data.kas) + parseFloat(this.data.penjualan));
      this.data.selisih = ((parseFloat(this.data.kas) + parseFloat(this.data.penjualan)) - parseFloat(this.pasiva));
    },
    'data.konsinyasi':function(){
      this.data.pasiva = (parseFloat(this.data.hutang) + parseFloat(this.data.pembelian) + parseFloat(this.data.konsinyasi));
      this.data.selisih = (parseFloat(this.aktiva) - (parseFloat(this.data.hutang) + parseFloat(this.data.pembelian) + parseFloat(this.data.konsinyasi));
    }*/
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
