<template>
  <b-row>
    <b-col cols="12" xl="12">
      <pre>{{ q }}</pre>
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
        <download-excel
          class   = "btn btn-info"
          title   = "Laporan Penjualan"
          :data   = "exportdata"
          :fields = "json_fields"
          name    = "Laporan Penjualan Apotek.xls">
       
          Generate Report
         
        </download-excel>
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage"  @row-clicked="toDetail">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>
            <template slot="period" slot-scope="data">
              {{ formatMonth(data.item.period, true) }}
            </template>
            <template slot="pembelian" slot-scope="data">
              {{ formatPrice(data.item.pembelian) }}
            </template>
            <template slot="penjualan" slot-scope="data">
              {{ formatPrice(data.item.penjualan) }}
            </template>
            <template slot="total" slot-scope="data">
              {{ formatPrice(data.item.penjualan - data.item.pembelian) }}
            </template>
            <template slot="summary" slot-scope="data">
              {{ (data.item.penjualan > data.item.pembelian) ? 'Laba' : 'Rugi' }}
            </template>
          </b-table>
          <template slot="table-caption">
            <span v-show="loadingdata"><i>Memuat data...</i></span>
            <span v-show="emptydata"><i>Data Kosong...</i></span>
          </template>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>

      </b-card>
      </transition>

    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Laba/Rugi',
  props: {
    caption: {
      type: String,
      default: 'Laporan Laba/Rugi'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {period : {label:'Periode', sortable:true}},
        {pembelian : {label:'Pembelian', sortable:true}},
        {penjualan : {label:'Penjualan', sortable:true}},
        'total',
        'summary'
      ],
      exportdata: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
      
      json_fields : {
        'Nomor Order': 'no_order',
        'Tgl Order'  : 'tgl_order',
        'Nama Obat'  : 'nama_obat',
        'Qty'        : 'qty',
        'Harga'      : 'harga'
      },
      json_data: [
          {
              'name': 'Tony Peña',
              'city': 'New York',
              'country': 'United States',
              'birthdate': '1978-03-15',
              'phone': {
                  'mobile': '1-541-754-3010',
                  'landline': '(541) 754-3010'
              }
          },
          {
              'name': 'Thessaloniki',
              'city': 'Athens',
              'country': 'Greece',
              'birthdate': '1987-11-23',
              'phone': {
                  'mobile': '+1 855 275 5071',
                  'landline': '(2741) 2621-244'
              }
          }
      ],
      json_meta: [
          [
              {
                  'key': 'charset',
                  'value': 'utf-8'
              }
          ]
      ],
    }
  },
  computed: {
    
  },
  methods: {
    fetchData(){
      
      let param = this.$route.params.param;
      this.$http.get('http://localhost/myapi2/public/api/report/profit', {
        params: {
          query:param
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
          // console.log(res.data.data);
          // this.exportdata = res.data.data;  
      })
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatMonth(date, monthOnly = false){
      let arr = ['null','Jan','Feb','Mar','Apr','Mei','Jun','Jul','Agu','Sep','Okt','Nov','Des'];
      let arr_full = ['null','Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];

      let split = date.split("-");
      if(monthOnly){
        return arr[parseInt(split[1])]+' '+split[0];
      }else{
        return split[2]+' '+arr[parseInt(split[1])]+' '+split[0];
      }
    },
    get_satuan(){
      this.$http.get('http://localhost/myapi2/public/api/get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      })
    },

    get_data(curr, q=null){
      let param = this.$route.params.param;
      this.$http.get('http://localhost/myapi2/public/api/index_report_profit', {
        params: {
          query:param,
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-keuangan');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-keuangan');
      }
    },
    toForm: function(){
      this.$router.push({path: "/sales/form"});
    },
    toDetail:function(item){
      let next = `/sales/form/${item.id.toString()}`;
      this.$router.push({path: next});
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    this.authVerify();
    this.get_satuan();
    this.fetchData();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
