<template>
  <b-row>
    <b-col cols="12" xl="12">
      
      <transition name="slide">
      <b-card :header="titleExcel">
        <b-row>
          <b-col sm="4">
          <download-excel
            class   = "btn btn-info"
            :title   = "titleExcel"
            :data   = "exportdata"
            :fields = "json_fields"
            name    = "Laporan Pembelian Obat Apotek.xls">
         
            Generate Report
         
          </download-excel>
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage" @row-clicked="toDetail"> <!-- @row-clicked="rowClicked" -->
            <template slot="no" slot-scope="data">
              <!-- {{data.index + 1}} -->
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>
            <template slot="status" slot-scope="data">
              <b-badge :variant="data.item.status ? 'success' : 'danger'">{{data.item.status ? 'Aktif' : 'Non Aktif'}}</b-badge>
            </template>
            <template slot="purchasing_date" slot-scope="data">
              {{ formatMonth(data.item.purchasing_date) }}
            </template>
            <template slot="nama_obat" slot-scope="data">
              <span>{{ data.item.nama_obat }}@{{data.item.nama_kemasan}}</span>
            </template>
            <template slot="harga" slot-scope="data">
              {{ formatPrice(data.item.harga) }}
            </template>
            <template slot="status" slot-scope="data">
              {{ (data.item.flag_retur) ? 'Di retur' : '' }}
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Pembelian',
  props: {
    caption: {
      type: String,
      default: 'Laporan Pembelian'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      decodeData: {},
      titleExcel:'',
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {no_faktur : {label:'No Faktur', sortable:true}},
        {nama_supplier : {label:'Nama Supplier', sortable:true}},
        'purchasing_date',
        {nama_obat : {label:'Nama Obat', sortable:true}},
        'batch',
        'expired_date',
        'harga',
        'status',
        'action'
      ],
      exportdata: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
      json_fields : {
        'Nomor Faktur': 'no_faktur',
        'Nama Supplier'  : 'nama_supplier',
        'Tgl Pembelian'  : 'purchasing_date',
        'Nama Obat'      : 'nama_obat',
        'Batch'          : 'batch',
        'Tgl Expired'    : 'expired_date',
        'Harga'          : 'harga'
      },
      json_meta: [
            [
                {
                    'key': 'charset',
                    'value': 'utf-8'
                }
            ]
        ],
      }
  },
  computed: {
    
  },
  methods: {
    fetchData(){
      let param = this.$route.params.param;
      this.$http.get('http://localhost/myapi2/public/api/report/purchase', {
        params: {
          query:param
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
          console.log(res.data.data);
          this.exportdata = res.data.data;  
      })
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatMonth(date, monthOnly = false){
      let arr = ['null','Jan','Feb','Mar','Apr','Mei','Jun','Jul','Agu','Sep','Okt','Nov','Des'];
      let arr_full = ['null','Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];

      let split = date.split("-");
      if(monthOnly){
        return arr[parseInt(split[1])]+' '+split[0];
      }else{
        return split[2]+' '+arr[parseInt(split[1])]+' '+split[0];
      }
    },
    get_satuan(){
      this.$http.get('http://localhost/myapi2/public/api/get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      })
    },

    get_data(curr, q=null){
      let param = this.$route.params.param;
      this.$http.get('http://localhost/myapi2/public/api/index_report_purchase', {
        params: {
          query:param,
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get('http://localhost/myapi2/public/api/obat/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      })
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }
    },

    toForm: function(){
      this.$router.push({path: "/purchase/form"});
    },
    toDetail:function(item){
      let next = `/purchase/form/${item.id.toString()}`;
      this.$router.push({path: next});
    },
    decodeParam:function(){
      let param = this.$route.params.param;
      let decode = JSON.parse(atob(param));
      
      this.decodeData = decode;

      this.titleExcel = 'Laporan Pembelian Obat dari '+this.formatMonth(decode.date_from)+ ' sampai '+this.formatMonth(decode.date_to);
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    this.decodeParam();
    this.fetchData();
    this.authVerify();
    this.get_satuan();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
