<template>
  <b-row>
    <b-col cols="12" xl="12">
      
      <transition name="slide">
      <b-card :header="titleExcel">
        <b-row>
          <b-col sm="4">
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>

            <template slot="no_faktur" slot-scope="data">
              <router-link :to="`/purchase/form/${data.item.id_last_masuk}`">{{data.item.no_faktur}}</router-link>
            </template>

            <template slot="no_order" slot-scope="data">
              <router-link :to="`/sales/form/${data.item.id_last_keluar}`">{{data.item.no_order}}</router-link>
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

      <b-modal v-bind:title="isNew === true ? 'Tambah Data' : 'Ubah Data'" size="lg" centered class="modal-primary" :hide-footer="true" v-model="primaryModal">
        <b-row>
          <b-col sm="12">

            <b-form-group label-for="obat" label="Nama Obat">
              <b-form-input type="text" class="form-control" v-model="input.nama_obat" id="obat" required></b-form-input>
            </b-form-group>

            <b-form-group label="Kode Obat">
              <b-form-input type="text" class="form-control" v-model="input.kode_obat" id="kode-obat" required></b-form-input>
            </b-form-group>

            <b-form-group label-for="margin" label="Margin">
              <b-form-input type="number" class="form-control" v-model="input.margin" id="margin" :min="0" required></b-form-input>
            </b-form-group>    
            <b-row>
              <b-col sm="3">
                <b-form-group
                  label="Satuan Besar"
                  label-for="basicSelect"
                  :label-cols="3"
                  :horizontal="false">
                  <b-form-select id="basicSelect"
                    :plain="false"
                    :options="satuan"
                    v-model="input.satuan_besar"
                    value="0">
                  </b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="3">
                <b-form-group label-for="satuan-kecil" label="Isi Satuan Kecil">
                  <b-form-input type="number" class="form-control" v-model="input.isi_satuan_kecil" id="satuan-kecil" :min="0" required></b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="3">
                <b-form-group
                  label="Satuan Kecil"
                  label-for="basicSelect"
                  :label-cols="3"
                  :horizontal="false">
                  <b-form-select id="basicSelect"
                    :plain="false"
                    :options="satuan"
                    v-model="input.satuan_kecil"
                    value="0">
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <footer class="modal-footer">
              <b-button v-if="isNew" type="button" variant="primary" @click="save();">Simpan</b-button>  
              <b-button v-if="!isNew" type="button" variant="primary" @click="update(input.id_supplier);">Ubah</b-button>  
            </footer>
          </b-col>
        </b-row>
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Report Stok',
  props: {
    caption: {
      type: String,
      default: 'Laporan Stok'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      decodeData:{},
      titleExcel:'',
      loadingdata:true,
      emptydata:false,
      input:{},
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {nama_obat : {label:'Nama Obat', sortable:true}},
        {stok : {label:'Sisa Stok', sortable:true}},
        {kemasan : {label:'Kemasan', sortable:true}},
        {no_faktur : {label:'Pembelian Terakhir', sortable:true}},
        {no_order : {label:'Transaksi Terakhir', sortable:true}},
        'action'
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  methods: {
    
    get_satuan(){
      this.$http.get('http://localhost/myapi2/public/api/get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      })
    },
    formatMonth(date, monthOnly = false){
      let arr = ['null','Jan','Feb','Mar','Apr','Mei','Jun','Jul','Agu','Sep','Okt','Nov','Des'];
      let arr_full = ['null','Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];

      let split = date.split("-");
      if(monthOnly){
        return arr[parseInt(split[1])]+' '+split[0];
      }else{
        return split[2]+' '+arr[parseInt(split[1])]+' '+split[0];
      }
    },
    get_data(curr, q=null){
      this.$http.get('http://localhost/myapi2/public/api/stok', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          this.authVerify(true);
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get('http://localhost/myapi2/public/api/obat/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      })
    },  

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'report/report-index');
      }
    },
    toForm: function(){
      this.$router.push({path: "/sales/form"});
    },
    decodeParam:function(){
      let param = this.$route.params.param;
      let decode = JSON.parse(atob(param));
      
      this.decodeData = decode;

      this.titleExcel = 'Laporan Stok Obat Bulan '+this.formatMonth(decode.date_to, true);
    }
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    this.authVerify();
    this.decodeParam();
    // this.get_satuan();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
