<template>
  <b-row v-show="load">
    <b-col cols="12" xl="12">
      
      <transition name="fade">
      
        <b-card :header="caption">
          <b-row>
            <b-row>
              <!-- <b-col sm="12" data-pym-src="https://www.jdoodle.com/embed/v0/L85"></b-col> -->

              <b-col sm="4">
                <b-button type="button" variant="primary" @click="primaryModal = true">Add</b-button>
              </b-col>
              <b-col sm="8">
                <!-- <b-form-input type="text" id="search"  placeholder="Search Something"></b-form-input> -->
                
                <b-input-group class="mb-3">
                  <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Search Something" />
                  <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
                </b-input-group>
              </b-col>
            </b-row>
            <br>
            <!-- <div>Loading...</div> -->
            <div v-show="!readyPage">
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm md" :items="items" :fields="fields" :per-page="perPage" >
                <!-- @row-clicked="rowClicked" -->
                
                <template slot="action" slot-scope="data">
                  <!-- <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge> -->
                  <b-dropdown id="ddown1" text="..." size="sm" variant="primary" class="m-2">
                      <b-dropdown-item>First Action</b-dropdown-item>
                      <b-dropdown-item>Second Action</b-dropdown-item>
                      <b-dropdown-item>Third Action</b-dropdown-item>
                      <b-dropdown-divider></b-dropdown-divider>
                      <b-dropdown-item>Something else here...</b-dropdown-item>
                      <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                    </b-dropdown>
                </template>
              </b-table>
              <nav>
                <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" hide-goto-end-buttons/>
              </nav>
            </div>
          </b-row>
        </b-card>
      </transition>

      <b-modal title="Modal title" class="modal-primary" v-model="primaryModal" @ok="primaryModal = false">
        <b-row>
          <b-col sm="12">


            <b-form-group>
              <label for="name">Name</label>
              <b-form-input type="text" id="name" placeholder="Enter your name"></b-form-input>
            </b-form-group>

            <vue-pell-editor 
                v-model="editorContent"
                :actions="editorOptions" 
                :content="editorContent" 
                :placeholder="editorPlaceholder"
                :style-with-css="false"
                :classes="editorClasses"
                default-paragraph-separator="p"
                
            />
          </b-col>
        </b-row>
      </b-modal>
    </b-col>
     
  </b-row>

</template>


<script>
import blogsData from './BlogsData'

export default {
  
  name: 'Blogs',
  props: {
    caption: {
      type: String,
      default: 'Data Blogs'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      /* list model */
      readyPage:false,
      load:false,
      q: '',
      items: [],
      //items:((items) ? items.filter((user)=> user.id < 42) : []),
      fields: [
        
        {nama_kemasan : {label:'Kemasan', sortable:true}},
        {keterangan : {label:'Keterangan', sortable:true}},
        
        'action',
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      primaryModal: false,

      /* add model */
      editorOptions: [
        'paragraph',
        'code',
        'bold',
        'underline',
        'italic',
        'strikethrough',
        'heading1',
        'heading2',
        'quote',
        'olist',
        'ulist',
        'line',
        'link',
        'image',
        /*{
          name: 'custom',
          icon: '<b><u><i>C</i></u></b>',
          title: 'Custom Action',
          result: () => console.log('YOLO')
        },
        {
          name: 'image',
          result: () => {
            const url = window.prompt('Enter the image URL')
            if (url) window.pell.exec('insertImage', ensureHTTP(url))
          }
        },
        {
          name: 'link',
          result: () => {
            const url = window.prompt('Enter the link URL')
            if (url) window.pell.exec('createLink', ensureHTTP(url))
          }
        }*/
      ],
      editorPlaceholder: 'Write something amazing...',
      editorContent: '',
      editorClasses: {
        actionbar: 'pell-actionbar',
        button: 'pell-button',
        content: 'pell-content',
        selected: 'pell-button-selected'
      }
    }
  },
  computed: {
    
  },
  methods: {
    post(curr, q=null){
      this.$http.get('http://localhost/myapi2/public/api/kemasans', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        //this.readyPage = true;
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.load = true;
        
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
      })
    },

    clear(curr){
      this.post(this.currentPage);
      this.q = '';
    },

    authVerify: function(){
      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "auth"});
        localStorage.setItem('lastRoute', 'blog');
      }
    },

    clickPage(curr){
      alert(curr);
      // this.post(curr);
      
    },

    
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    /*getRowCount () {
      return this.totalRows;
    },*/
    userLink (id) {
      return `blog/${id.toString()}`
    },
    rowClicked (item) {
      const userLink = this.userLink(item.id)
      this.$router.push({path: userLink})
    }

  },
  watch: {
    currentPage:function(val){
      this.post(val);
    },
    q:function(){
      console.log(this.q);
      this.post(this.currentPage, this.q);
    }
  },
  mounted(){
    this.post(this.currentPage);
    this.authVerify();
    /*let jdoodleScript = document.createElement('script')
    jdoodleScript.setAttribute('src', 'https://www.jdoodle.com/assets/jdoodle-pym.min.js')
    document.head.appendChild(jdoodleScript)*/
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
