<template>
  <b-row>
    <b-col cols="12" xl="12">
      
      <transition name="slide">
      <b-card :header="caption">
        <b-row>
          <b-col sm="4">
            <b-button type="button" variant="primary" @click="primaryModal = true; isNew = true; input = {};">Tambah Data</b-button>
          </b-col>
          <b-col sm="8">
            <b-input-group class="mb-3">
              <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
              <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
            </b-input-group>
          </b-col>
        </b-row>
        <br>
        <div class="table-responsive">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm md" :items="items" :fields="fields" :per-page="perPage">
            <template slot="no" slot-scope="data">
              {{ ((currentPage - 1) * perPage) + data.index + 1 }}
            </template>
            <template slot="action" slot-scope="data">
                <b-dropdown variant="link" size="xs" no-caret>
                  <template slot="button-content">
                    <i class="icon-options icons"></i>
                  </template>
                  <b-dropdown-item @click="primaryModal = true; isNew = false; get_detail(data.item.id_kemasan);">
                     Ubah Data
                  </b-dropdown-item>
                  <b-dropdown-item v-on:click="_deleted(data.item.id_kemasan)">Hapus Data</b-dropdown-item>
                </b-dropdown>
            </template>
            <template slot="table-caption">
              <span v-show="loadingdata"><i>Memuat data...</i></span>
              <span v-show="emptydata"><i>Data Kosong...</i></span>
            </template>
          </b-table>
        </div>
        <b-row>
          <b-col sm="8">
            <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
          </b-col>
          <b-col sm="4">
            <nav>
              <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
            </nav>
          </b-col>
        </b-row>
      </b-card>
      </transition>

      <b-modal v-bind:title="isNew === true ? 'Tambah Data' : 'Ubah Data'" size="lg" centered class="modal-primary" :hide-footer="hideFooter" v-model="primaryModal">
        <b-row>
          <b-col sm="12">

            <b-form-group label-for="inputError2" label="Nama Kemasan">
              <b-form-input type="text" class="form-control" v-model="input.nama_kemasan" id="inputError2" required></b-form-input>
            </b-form-group>

            <b-form-group label="Keterangan">
              <textarea class="form-control" v-model="input.keterangan"></textarea>
            </b-form-group>
            <footer class="modal-footer">
              <b-button v-if="isNew" type="button" variant="primary" @click="save();">Simpan</b-button>  
              <b-button v-if="!isNew" type="button" variant="primary" @click="update(input.id_kemasan);">Ubah</b-button>  
            </footer>
          </b-col>
        </b-row>
      </b-modal>
    </b-col>
     
  </b-row>

</template>

<script>

import helper from '@/helper'

export default {
  
  name: 'Kemasan',
  props: {
    caption: {
      type: String,
      default: 'Master Kemasan'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    },
    hideFooter: {
      type: Boolean,
      default: true
    }
  },
  data: () => {
    
    return {
      loadingdata:true,
      emptydata:false,
      input:{},
      load:false,
      q: '',
      items: [],
      fields: [
        'no',
        {nama_kemasan : {label:'Kemasan', sortable:true}},
        {keterangan : {label:'Keterangan', sortable:true}},
        'action',
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      isNew: false,
      primaryModal: false,
    }
  },
  methods: {
    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'kemasans', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata=false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'kemasan');
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get(helper.url_prefix+'kemasan/'+id, {
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      },function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
      })
    },

    save : function(){
      this.$http.post(helper.url_prefix+'kemasan',
          this.input,
          {headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }})
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.input = {};
              this.primaryModal = false;
              this.get_data(this.currentPage);  
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            helper.authVerify(true,'kemasan');
          }
        });

    },

    update: function(id){
      this.$http.put(helper.url_prefix+'kemasan/'+id,
        this.input,
        {headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }})
        .then(function(data, status, request) {
          
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'kemasan');
        }
      });
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete(helper.url_prefix+'kemasan/'+id,
            {headers: {
                'Authorization': 'Bearer ' +localStorage.getItem('token') 
              }}).then(function(res){
            console.log(res.ok);
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      
      this.get_data(this.currentPage, this.q);
    }
  },
  mounted(){
    helper.authVerify(false, 'kemasan');
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
