<template>

  <b-row>
    <b-col cols="12" lg="12">
      <b-card no-header>
        <template slot="header">
          User id:  {{ $route.params.id }}
        </template>
        <b-table striped small fixed responsive="sm" :items="items($route.params.id)" :fields="fields">
          <template slot="value" slot-scope="data">
            <strong>{{data.item.value}}</strong>
          </template>

        </b-table>
        <template slot="footer">
          <b-button @click="goBack">Back</b-button>
          
        </template>
      </b-card>
    </b-col>
    <b-col cols="12" md="12">
      <pre>{{userDetail}}</pre>
      <pre>{{message}}</pre>
      <input v-model="message">
    </b-col>
  </b-row>
</template>

<script>
import blogsData from './BlogsData'


export default {
  name: 'Blog',
  props: {
    caption: {
      type: String,
      default: 'Blog id'
    },
  },
  data: () => {
    return {
      message:'',
      userDetail: {},
      items: (id) => {
        
        /*const detail = [];
        const user = detail.find( user => user.id.toString() === id)
        const userDetails = user ? Object.entries(user) : [['id', 'Not found']]*/
        

        
      },
      fields: [
        {key: 'key'},
        {key: 'value'},
      ],
    }
  },
  methods: {

    getId(){
      this.$http.get('http://localhost/slim/api_info/' + this.$route.params.id, {
        title:'tes',
        id:2
      }).then(function(data){
        
        return this.userDetail = data.body;
        
      })
    },

    goBack() {
      this.$router.go(-1)
      // this.$router.replace({path: '/users'})
    }
  },
  mounted(){
    this.getId();
  },
}
</script>
