<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
        <b-card :header="caption">
          <b-row>
            <b-col sm="4">
              <b-button type="button" variant="primary" @click="primaryModal = true; isNew = true; input = {has_stok: '0',harga_manual: '0'} ">Tambah Data</b-button>
            </b-col>
            <b-col sm="8">
              <b-input-group class="mb-3">
                <b-form-input type="text" class="form-control" id="search" v-model="q" placeholder="Ketik Sesuatu.." />
                <b-input-group-prepend><b-input-group-text v-on:click="clear()"><i class="fa fa-close"></i></b-input-group-text></b-input-group-prepend>
              </b-input-group>
            </b-col>
          </b-row>
          <br>
          <div class="table-responsive">
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :per-page="perPage">
              <template slot="no" slot-scope="data">
                {{ ((currentPage - 1) * perPage) + data.index + 1 }}
              </template>
              <template slot="harga_jual" slot-scope="data">
                {{ helper_bind.formatPrice(data.item.harga_jual) }}
              </template>
              <template slot="status" slot-scope="data">
                <b-badge :variant="data.item.status ? 'success' : 'danger'">{{data.item.status ? 'Aktif' : 'Non Aktif'}}</b-badge>
              </template>
              <template slot="action" slot-scope="data">
                  <b-dropdown variant="link" size="xs" no-caret>
                    <template slot="button-content">
                      <i class="icon-options icons"></i>
                    </template>
                    <b-dropdown-item @click="primaryModal = true; isNew = false; get_detail(data.item.id_obat);">
                       Ubah Data
                    </b-dropdown-item>
                    <b-dropdown-item v-on:click="_deleted(data.item.id_obat)">Hapus Data</b-dropdown-item>
                  </b-dropdown>
              </template>
              <template slot="table-caption">
                <span v-show="loadingdata"><i>Memuat data...</i></span>
                <span v-show="emptydata"><i>Data Kosong...</i></span>
              </template>
            </b-table>
          </div>
          <b-row>
            <b-col sm="8">
              <span class="pull-left"><b>Menampilkan Data {{((currentPage - 1) * perPage) + 1}} sampai {{(currentPage * perPage > totalRows) ? totalRows: (currentPage * perPage)}} Dari {{totalRows}} Baris</b></span>
            </b-col>
            <b-col sm="4">
              <nav>
                <b-pagination class="pull-right" size="md" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Sebelumnya" next-text="Selanjutnya" first-text="Awal" last-text="Terakhir"/>
              </nav>
            </b-col>
          </b-row>
        </b-card>
      </transition>

      <b-modal v-bind:title="isNew === true ? 'Tambah Data' : 'Ubah Data'" size="lg" centered v-bind:class="isNew === true ? 'modal-primary' : 'modal-success'" :hide-footer="true" v-model="primaryModal">
        <b-row>
          <b-col sm="12">
            <b-row>
              <b-col sm="6">
                <b-form-group label-for="obat" label="Nama Obat">
                  <b-form-input type="text" class="form-control" v-model="input.nama_obat" placeholder="nama obat" id="obat" required></b-form-input>
                </b-form-group>    
              </b-col>
              <b-col sm="3">
                <label for="resep-toggle">Input Stok</label><br>
                <c-switch class="mx-1" id="resep-toggle" color="info" label variant="pill" v-model="input.has_stok" value="1" uncheckedValue="0" />  
              </b-col>
              <b-col sm="3">
                <span v-show="input.has_stok == '1'" transition="bounce">
                  <b-form-group label-for="stok" label=" ">
                    <b-form-input type="number" class="form-control" v-model="input.stok_awal" placeholder="stok barang" id="stok" :min="0"></b-form-input>
                  </b-form-group>
                </span>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="6">
                <b-form-group label-for="harga_net" label="Harga Beli">
                  <vue-numeric placeholder="Harga Beli" v-model="input.harga_net" class="form-control" id="harga_net"></vue-numeric>
                </b-form-group>    
              </b-col>
              <b-col sm="6">
                <b-form-group label-for="margin" label="Margin">
                  <b-form-input type="number" class="form-control" v-model="input.margin" placeholder="margin penjualan" id="margin" :min="0" required></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="4">
                <b-form-group label-for="harga_jual" label="Harga Jual">
                  <vue-numeric placeholder="Harga Jual" v-model="input.harga_jual" class="form-control" id="harga_jual"></vue-numeric>
                </b-form-group>
              </b-col>
              <b-col sm="2">
                <label for="resep-toggle">Input Manual</label><br>
                <c-switch class="mx-1" id="resep-toggle" color="info" label variant="pill" v-model="input.harga_manual" value="1" uncheckedValue="0" />  
              </b-col>
              <b-col sm="6">
                <b-form-group
                  label="Satuan Besar"
                  label-for="basicSelect"
                  :label-cols="3"
                  :horizontal="false">
                  <b-form-select id="basicSelect"
                    :plain="false"
                    size="lg"
                    :options="satuan"
                    v-model="input.satuan_besar"
                    value="0">
                  </b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group label-for="satuan-kecil" label="Isi Satuan Sedang">
                  <b-form-input type="number" class="form-control" v-model="input.isi_satuan_mid" id="satuan-kecil" :min="0" required></b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group
                  label="Satuan Sedang"
                  label-for="basicSelect"
                  :label-cols="3"
                  :horizontal="false">
                  <b-form-select id="basicSelect"
                    :plain="false"
                    :options="satuan"
                    v-model="input.satuan_mid"
                    value="0">
                  </b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group label-for="satuan-kecil" label="Isi Satuan Kecil">
                  <b-form-input type="number" class="form-control" v-model="input.isi_satuan_kecil" id="satuan-kecil" :min="0" required></b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group
                  label="Satuan Kecil"
                  label-for="basicSelect"
                  :label-cols="3"
                  :horizontal="false">
                  <b-form-select id="basicSelect"
                    :plain="false"
                    :options="satuan"
                    v-model="input.satuan_kecil"
                    value="0">
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <footer class="modal-footer">
              <b-button v-if="isNew" type="button" variant="primary" @click="save();">Simpan</b-button>  
              <b-button v-if="!isNew" type="button" variant="primary" @click="update(input.id_obat);">Ubah</b-button>  
            </footer>
          </b-col>
        </b-row>
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>

import { Switch as cSwitch } from '@coreui/vue'
import helper from '@/helper'

export default {
  
  name: 'Obat',
  components: {
    cSwitch
  },
  props: {
    caption: {
      type: String,
      default: 'Master Obat'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
    return {
      helper_bind : helper, // create instance from helper
      loadingdata:true,
      emptydata:false,
      input:{
        has_stok: '0',
        harga_manual: '0'
      },
      q: '',
      items: [],
      satuan: [],
      fields: [
        'no',
        {nama_obat : {label:'Obat', sortable:true}},
        {harga_jual : {label:'Harga Jual', sortable:true}},
        'margin',
        {kemasan_besar : {label:'Kemasan Besar', sortable:true}},
        {kemasan_mid : {label:'Kemasan Sedang', sortable:true}},
        {kemasan_kecil : {label:'Kemasan Kecil', sortable:true}},
        'action'
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      isNew:false,
      primaryModal: false,
    }
  },
  methods: {
    get_satuan(){
      this.$http.get(helper.url_prefix+'get_satuan', {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.satuan = res.data.data;  
        }
      }, function(err){
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'obat');
        }
      })
    },

    get_data(curr, q=null){
      this.$http.get(helper.url_prefix+'obat', {
        params: {
          perPage:this.perPage,
          offset:curr,
          search:q,
        },
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        this.items = res.data.data;
        this.totalRows = res.data.total;
        this.loadingdata = false;
        if(res.data.total < 1){
          this.emptydata=true;
        }else{
          this.emptydata=false;
        }
      }, function(err){
        this.items = err.body.data;
        this.totalRows = err.body.total;
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'obat');
        }
      })
    },

    get_detail: function(id){
      
      this.$http.get(helper.url_prefix+'obat/'+id, {
        headers: {
          'Authorization': 'Bearer ' +localStorage.getItem('token') 
        }
      }).then(function(res){
        if(res.data.status){
          this.input = res.data.data;  
        }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'obat');
        }
      })
    },

    save : function(){
      this.$http.post(helper.url_prefix+'obat',
          this.input,{
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          })
          .then(function(data, status, request) {
            
            if(data.body.status){
              this.$swal(data.body.msg,'', 'success');
              this.input = {};
              this.primaryModal = false;
              this.get_data(this.currentPage);  
            }else{
              this.$swal(data.body.msg,'', 'error');
            }
            
        }, function(err){
          this.$swal({
            type: 'error',
            title: err.statusText,
            text: err.body.msg
          });
          if(typeof err.body.flag !== 'undefined'){
            helper.authVerify(true, 'obat');
          }
        });
    },

    update: function(id){
      this.$http.put(helper.url_prefix+'obat/'+id,
        this.input,{
          headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }
        })
        .then(function(data, status, request) {
          
          this.primaryModal = false;
          if(data.body.status){
            this.$swal(data.body.msg,'', 'success');
            this.input = {};
            this.get_data(this.currentPage, this.q);  
          }else{
            this.$swal(data.body.msg,'', 'error');
          }
      }, function(){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true,'obat');
        }
      });
    },

    _deleted(id){

      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })

      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.delete(helper.url_prefix+'obat/'+id, {
            headers: {
              'Authorization': 'Bearer ' +localStorage.getItem('token') 
            }
          }).then(function(res){
            console.log(res.ok);
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    _status(id, val){
      const swalWithBootstrapButtons = this.$swal.mixin({
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
      })
      var text = (val == 0) ? 'Activated' : 'Deactivated';
      var stat = (val == 0) ? 1 : 0;
      swalWithBootstrapButtons({
        title: 'Are you sure?',
        text: "You want to "+text+ " this data?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, '+text+' it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.put(helper.url_prefix+'update/'+id,
            {status:stat},
            {
              headers: {
                'Authorization': 'Bearer ' +localStorage.getItem('token') 
              }
            }).then(function(res){
            
            if(res.ok){
              swalWithBootstrapButtons(
                'Success',
                'Successfully Deleted',
                'success'
              )    
              this.get_data(this.currentPage, this.q);
            }
          });
          
        } else if (
          result.dismiss === this.$swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons(
            'Cancelled',
            'Action Canceled',
            'error'
          )
        }
      });
    },

    clear(curr){
      this.get_data(this.currentPage);
      this.q = '';
    },
  },
  watch: {
    currentPage:function(val){
      this.get_data(val);
    },
    q:function(){
      this.get_data(this.currentPage, this.q);
    },
    'input.harga_net' : function(){
      // if(this.input.margin && this.input.harga_manual){
        var margin = this.input.harga_net * (this.input.margin / 100);
        this.input.harga_jual = (parseFloat(this.input.harga_net) + parseFloat(margin));
      // }
    },
    'input.margin' : function(){
      // if(this.input.harga_net && this.input.harga_manual){
        var margin = this.input.harga_net * (this.input.margin / 100);
        this.input.harga_jual = (parseFloat(this.input.harga_net) + parseFloat(margin));
      // }
    }
  },
  mounted(){
    helper.authVerify(false, 'obat');
    this.get_satuan();
    this.get_data(this.currentPage);
  },

}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
