<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <div class="text-center">
                    <img src="img/brand/sygnet.png" width="100" height="100" alt="Aposis">
                  </div>
                  <h2 class="text-center">APOSIS</h2>
                  <p class="text-muted">Silahkan Login untuk mulai</p>
                  <b-input-group class="mb-3">
                    <b-form-input @keyup.enter.native="verify()" type="text" class="form-control" placeholder="Username" v-model="auth.email" autocomplete="username email" />
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-form-input @keyup.enter.native="verify()" type="password" class="form-control" placeholder="Password" v-model="auth.password" autocomplete="current-password" />
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" v-on:click="verify()" class="px-4">Login</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data: () => {
    return {
      auth: {},
      result: []
    }
  },
  methods: {
    verify: function(){
      this.$http.post('http://localhost/myapi2/public/api/login', 
      {
        data: {'email':this.auth.email, 'password':this.auth.password},
        headers: {
          "Access-Control-Allow-Origin" : "*",
          'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8',
          'Accept': 'application/json'
        }
      }).then(function(res){
          if(res.body.status){
            localStorage.setItem('token',res.body.token);
            if(localStorage.getItem('role')){
              localStorage.removeItem('role');
            }
            localStorage.setItem('role', res.body.role);
            localStorage.setItem('name', res.body.name);
            var route = (localStorage.getItem('lastRoute')) ? localStorage.getItem('lastRoute') : 'dashboard';
            this.$router.push({path: route});
          }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
      });
    },

    authVerify: function(){
      if(localStorage.getItem('token')){
        var route = (localStorage.getItem('lastRoute')) ? localStorage.getItem('lastRoute') : 'dashboard';
        this.$router.push({path: route});
      }
    }
  },
  mounted(){
    this.authVerify();
  }
}
</script>
