<template>
  <div class="animated fadeIn">
    <b-row>
      
      <b-col cols="12">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Profil </strong>
          </div>
          <b-row>
            <b-col sm="6">
              <b-form-group>
                <label for="name">Username</label>
                <b-form-input type="text" id="name" placeholder="Masukkan username" v-model="input.email"></b-form-input>
                <input type="hidden" v-model="input.id"></input>
              </b-form-group>
              <b-form-group>
                <label for="nama">Nama</label>
                <b-form-input type="text" id="nama" placeholder="Masukkan nama" v-model="input.name"></b-form-input>
              </b-form-group>

              <label for="resep-toggle">Ganti Password?</label><br>
                <c-switch class="mx-1" id="resep-toggle" color="info" label variant="pill" v-model="input.change_password" value="1" uncheckedValue="0" /> 
              <span v-show="(input.change_password == 1) ? true : false">
	              <b-form-group>
	                <label for="password">Password Baru</label>
	                <b-form-input type="password" id="password" v-model="input.new_password" placeholder="Masukkan password baru"></b-form-input>
	              </b-form-group>
	          </span>
            </b-col>
          </b-row>
          <div slot="footer">
            <b-button type="submit" size="md" variant="primary" v-on:click="primaryModal=true"><i class="fa fa-dot-circle-o"></i> Update</b-button>
            <b-button type="reset" size="md" variant="danger" @click="previous"><i class="fa fa-ban"></i> Batal</b-button>
          </div>
        </b-card>

        <b-modal title="Otentifikasi" size="lg" centered class="modal-primary" :hide-footer="true" v-model="primaryModal">
	        <b-row>
	          <b-col sm="12">

	            <b-form-group label-for="otentifikasi" label="Masukkan Password Saat ini">
	              <b-form-input type="password" class="form-control" v-model="input.otentifikasi" id="otentifikasi" required></b-form-input>
	            </b-form-group>

	            
	            <footer class="modal-footer">
	              <b-button type="button" variant="primary" @click="update();">Ok</b-button>  
	            </footer>
	          </b-col>
	        </b-row>
	      </b-modal>
      </b-col>
    </b-row>
   
  </div>
</template>

<script>
import {VMoney} from 'v-money';
import { Switch as cSwitch } from '@coreui/vue'

import helper from '@/helper'

export default {
  
  name: 'forms',
  components: {
    cSwitch
  },
  data () {
    return {
      primaryModal: false,
      selected: [], // Must be an array reference!
      input: {
      	change_password: 0,
      	name:'',
      	email:''
      },
      
      supplier: [],
      obat:[],
      satuan:[],
      show: true,
      moneyConfig: {
        // The character used to show the decimal place.
        decimal: '.',
        // The character used to separate numbers in groups of three.
        thousands: ',',
        // The currency name or symbol followed by a space.
        prefix: 'USD $ ',
        // The suffix (If a suffix is used by the target currency.)
        suffix: '',
        // Level of decimal precision. REQUIRED
        precision: 2,
        // If mask is false, outputs the number to the model. Otherwise outputs the masked string.
        masked: false
      }
    }
  },
  methods: {
    previous () {
      this.$router.push({path: "/dashboard"});
    },
    
    get_detail: function(){
	    this.$http.get('http://localhost/myapi2/public/api/profile', {
	      headers: {
	          'Authorization': 'Bearer ' +localStorage.getItem('token') 
	        }
	    }).then(function(res){
	      if(res.data.status){
	        this.input.name = res.data.data.name;
	        this.input.email = res.data.data.email;
	        this.input.id = res.data.data.id;
	      }
	    }, function(err){
	      this.$swal({
	        type: 'error',
	        title: err.statusText,
	        text: err.body.msg
	      });
	      if(typeof err.body.flag !== 'undefined'){
	        this.authVerify(true);
	      }
	    });
    },

    update: function(id){
      this.$http.put('http://localhost/myapi2/public/api/profile/update',
        this.input,
        {headers: {
            'Authorization': 'Bearer ' +localStorage.getItem('token') 
          }})
        .then(function(data, status, request) {
          if(data.body.status){
          	console.log(data.body);
          	this.$swal(data.body.msg,'', 'success');
          	this.$router.push({path: "/dashboard"});
          }else{
          	this.$swal(data.body.msg,'', 'error');
          }
      }, function(err){
        this.$swal({
          type: 'error',
          title: err.statusText,
          text: err.body.msg
        });
        if(typeof err.body.flag !== 'undefined'){
          helper.authVerify(true, 'profil');
        }
      });
    },
    
    authVerify: function(statusCode = false){

      if(!localStorage.getItem('token')){
        this.$swal({
          type: 'error',
          title: 'Session Expired!',
          text: 'Please Re-login'
        });
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'profil');
      }else if(statusCode){
        localStorage.removeItem('token');
        this.$router.push({path: "/auth"});
        localStorage.setItem('lastRoute', 'profil');
      }
    },
  },
  mounted(){
    
    this.get_detail();
    this.authVerify();
    
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
